<a href="https://colab.research.google.com/github/phurisk/BSC_DPDM23/blob/main/Frequent_Patterns_(Association_Rules).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [228]:
import pandas as pd
import os

In [229]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/BSC_DPDM23/File'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [230]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin-1')

In [231]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France

## แปลง data ให้อยู่ในรูปแบบ transaction data ด้วย group by .appy(list)

In [232]:
data.groupby('InvoiceNo')['StockCode'].apply(list)

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [233]:
transactions = data.groupby('InvoiceNo')['StockCode'].apply(list)

- ดูประเทศ

In [234]:
set(data["Country"])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

## Association Rules

In [235]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [236]:
from apyori import apriori

In [237]:
frequentItemsets = list(apriori(transactions,min_support = 0.065))
frequentItemsets

[RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.06586872586872587, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.06586872586872587, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.08243243243243244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.08243243243243244, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.08671814671814672, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.08671814671814672, lift=1.0)])]

In [238]:
len(frequentItemsets)

4

In [239]:
frequentItemsets[0][0]

frozenset({'22423'})

In [240]:
# dir(frequentItemsets[0][0])

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [241]:
frequentItemsets[0][0].__len__()

1

In [242]:
min_sup = 0.03

frequentItemsets = list(apriori(transactions,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03027027027027027, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03027027027027027, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

RelationRecord(items=frozenset({'22386', '85099B'}),

support=0.03216216216216216,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0),

OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335),

OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])

In [243]:
set(data[(data['StockCode']=='22386') | (data['StockCode']=='85099B') | (data['StockCode']=='22699') | (data['StockCode']=='22697') ]['Description'])

{'GREEN REGENCY TEACUP AND SAUCER',
 'JUMBO BAG PINK POLKADOT',
 'JUMBO BAG RED RETROSPOT',
 'ROSES REGENCY TEACUP AND SAUCER '}

RelationRecord(items=frozenset({'22699', '22697'}), support=0.03027027027027027,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22699', '22697'}), confidence=0.03027027027027027, lift=1.0),

OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947),

OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

In [244]:
# set(data[(data['StockCode']=='22699') | (data['StockCode']=='22697')]['InvoiceNo'])

{'551564',
 '576644',
 '568792',
 '537435',
 '575846',
 '539593',
 '574368',
 '553684',
 '581122',
 '566624',
 'C545438',
 '565849',
 '570459',
 '558777',
 '552533',
 '559337',
 '574852',
 '557788',
 '562573',
 '541110',
 '555647',
 '556323',
 '541280',
 '558119',
 '541811',
 '549120',
 '575742',
 'C562953',
 '542349',
 '559557',
 '551550',
 '548158',
 '568134',
 '576690',
 '562417',
 '543602',
 '539492',
 '566482',
 '571546',
 '573511',
 '545154',
 '551953',
 '557301',
 '566091',
 '562770',
 '536856',
 '565779',
 '545690',
 'C546865',
 '569834',
 '568781',
 '569737',
 '559295',
 '570700',
 '545214',
 '566236',
 '543246',
 '573580',
 '537666',
 '544684',
 '565117',
 '545428',
 '542729',
 '559357',
 '558565',
 '568369',
 '543565',
 '556095',
 '537385',
 '566255',
 '566985',
 '566257',
 '545022',
 '546915',
 '547400',
 '547712',
 '543530',
 '553202',
 '555870',
 '564191',
 '545721',
 '536980',
 '542583',
 '570258',
 '572540',
 '562429',
 '564541',
 '544681',
 '549852',
 '558540',
 '571550',
 '543487',
 '559173',
 '560906',
 '562553',
 '546884',
 '545467',
 '547378',
 '579187',
 'C574507',
 '546442',
 '544206',
 '561651',
 '551057',
 '559491',
 '555594',
 '542344',
 '556259',
 '563906',
 '560291',
 '558864',
 '537176',
 '559639',
 '566597',
 '553387',
 '553709',
 '537240',
 '541783',
 '566603',
 '581217',
 '565919',
 '552270',
 '564820',
 '546849',
 '540848',
 '575931',
 '542221',
 '570677',
 '554935',
 '552694',
 '578833',
 '567922',
 '567507',
 '574328',
 '563442',
 '570465',
 '557735',
 '558068',
 '549750',
 '549056',
 '537335',
 'C543633',
 '566170',
 '548768',
 '568955',
 '578314',
 '559112',
 'C562119',
 '580983',
 'C579945',
 'C572410',
 '548714',
 '540915',
 'C556880',
 '566790',
 '557605',
 '579445',
 '577358',
 '558372',
 '578994',
 '580053',
 '546008',
 '543985',
 '550471',
 '536544',
 'C538059',
 'C562375',
 '553543',
 '577618',
 '554704',
 '550201',
 '581006',
 '566600',
 '537688',
 '539635',
 '561070',
 '575138',
 '553462',
 '556205',
 '556206',
 '543989',
 '546660',
 '563896',
 '542619',
 '552956',
 '570713',
 '580367',
 '540372',
 '543022',
 '572274',
 '553489',
 '548547',
 '544205',
 '548212',
 '556237',
 '564837',
 'C542413',
 '553870',
 '568199',
 '579539',
 '553182',
 '555278',
 '547498',
 '570701',
 '569367',
 'C556644',
 '544767',
 '570824',
 '551657',
 '568060',
 '543277',
 '542719',
 '537642',
 '559923',
 '563584',
 '550519',
 '542779',
 '551825',
 '576063',
 '560773',
 '548559',
 '541866',
 '556256',
 '557782',
 '565424',
 'C567358',
 '555871',
 'C545444',
 '540259',
 '542691',
 '550613',
 '553899',
 '558873',
 '560580',
 '539609',
 '577355',
 '567324',
 '575703',
 '542389',
 '547387',
 '547386',
 '564838',
 '564300',
 '566720',
 '581135',
 '551885',
 '562113',
 '574088',
 '567670',
 '565150',
 '541129',
 '555150',
 '550183',
 '551414',
 '576616',
 '545036',
 'C537834',
 '544208',
 '569230',
 '543909',
 '577597',
 '570597',
 '561455',
 '548003',
 '557968',
 '551340',
 '544434',
 '544837',
 '555522',
 '581495',
 '539434',
 '547249',
 '559878',
 '552730',
 '552715',
 '575176',
 '562102',
 '559930',
 '562950',
 '567280',
 '581492',
 '552843',
 '552975',
 '542622',
 '546896',
 '549052',
 '540371',
 '561125',
 '553541',
 '554974',
 '544913',
 '549222',
 '559525',
 '544339',
 '559489',
 '564972',
 '545526',
 '565056',
 '544067',
 '555925',
 '559553',
 '543045',
 '578273',
 '538851',
 '563569',
 '556813',
 '580173',
 '550968',
 '571714',
 '551850',
 '544456',
 '580610',
 '549595',
 'C567885',
 '542087',
 '567336',
 'C538124',
 '541530',
 '557502',
 '562219',
 '561329',
 '550438',
 '556821',
 '565917',
 '554124',
 '577071',
 '577518',
 '562713',
 '542102',
 '553578',
 '547547',
 '556783',
 '541932',
 '559817',
 '577512',
 '553385',
 '571219',
 '555109',
 '576202',
 '562933',
 '548893',
 '544394',
 '545759',
 '549589',
 '560236',
 '561051',
 '573320',
 '576388',
 '558315',
 '560225',
 '553002',
 '565784',
 '550265',
 '559510',
 '568804',
 '548673',
 '538153',
 '568567',
 '549016',
 '554813',
 '571061',
 '544075',
 '545464',
 '546688',
 '560826',
 '551387',
 '543106',
 '540662',
 'C542912',
 '544677',
 '566581',
 '567293',
 '566290',
 '554372',
 'C545449',
 '561714',
 '540981',
 '546992',
 '569202',
 '554030',
 '568333',
 '537638',
 '577316',
 '561095',
 '545912',
 '567184',
 '545426',
 'C553479',
 '545176',
 '543019',
 '545058',
 '565286',
 '574700',
 'C565848',
 '537378',
 '569415',
 '576339',
 '553369',
 '551062',
 '555276',
 '581433',
 '571257',
 '565841',
 '575946',
 '548726',
 '553607',
 '544779',
 '538883',
 '539738',
 '552678',
 '561633',
 '552514',
 '546113',
 '551960',
 '558348',
 '554958',
 '558073',
 '545812',
 '553671',
 '576051',
 '581170',
 '554013',
 '568411',
 '552665',
 '575875',
 'C549840',
 'C545724',
 '570257',
 '554026',
 '572897',
 'C546125',
 '569419',
 '548808',
 '564056',
 '546096',
 '541008',
 '541130',
 '552557',
 '544749',
 '536530',
 '566731',
 '554040',
 '563613',
 '562934',
 '570127',
 '577078',
 '538903',
 '540992',
 '555854',
 '541506',
 '575484',
 '550503',
 '551944',
 '555848',
 '560790',
 '545895',
 '554560',
 '554557',
 '541859',
 '544081',
 '544207',
 '549295',
 '547397',
 '561637',
 '545701',
 '549192',
 '546367',
 '553766',
 '577498',
 '577076',
 '545568',
 '579093',
 '578065',
 '579938',
 '548210',
 '578331',
 '568553',
 '538148',
 '565331',
 '541497',
 '563193',
 '563614',
 '559493',
 '564835',
 '579471',
 '571746',
 '554110',
 '537887',
 '546752',
 'C555598',
 '540464',
 '554113',
 '560634',
 '570488',
 '551173',
 '538862',
 '566617',
 '569917',
 '554337',
 '536592',
 '558262',
 '544812',
 '547250',
 '552231',
 '548919',
 '577319',
 '545411',
 '543097',
 '539737',
 '553461',
 '571446',
 '547826',
 '558066',
 'C539071',
 '571433',
 '573397',
 'C577388',
 '561798',
 '569496',
 '561645',
 '545032',
 '545215',
 '537754',
 '553661',
 '566559',
 '575515',
 '563023',
 '550314',
 'C569114',
 '547042',
 '571058',
 '546136',
 '555147',
 '554329',
 '562374',
 '538660',
 '557645',
 '553191',
 '538071',
 'C550664',
 '556264',
 '551775',
 '566602',
 '579518',
 '543370',
 '580665',
 '537396',
 '573778',
 'C551465',
 '544186',
 'C540393',
 '546683',
 '578016',
 '550914',
 '547248',
 '556767',
 '539742',
 '546498',
 '541949',
 '561217',
 '562711',
 '540005',
 '566395',
 '548648',
 '544421',
 '570428',
 '562843',
 '549587',
 '563169',
 '536862',
 '538177',
 'C564964',
 '572751',
 '546760',
 '544833',
 '566094',
 '556082',
 '545696',
 'C560588',
 '558904',
 '558103',
 '578067',
 '573330',
 '542115',
 '547841',
 '563384',
 'C564212',
 '552540',
 'C566084',
 '566193',
 '560895',
 'C545033',
 '557621',
 '551860',
 '575932',
 '561820',
 '564221',
 '551339',
 '564975',
 '571241',
 '573070',
 '554054',
 '568655',
 '561394',
 '540499',
 '543036',
 '545543',
 '548983',
 '549525',
 '555486',
 '567873',
 'C555358',
 '559693',
 '539736',
 '567140',
 'C551511',
 '572552',
 '558526',
 '544928',
 '546562',
 '553718',
 '577594',
 '557211',
 '539217',
 '541132',
 'C560560',
 '555400',
 '555488',
 '547949',
 '570688',
 '549999',
 '572092',
 '563534',
 '560398',
 '557859',
 '573822',
 '561089',
 '559941',
 '566572',
 '543626',
 '543533',
 '552308',
 '553942',
 '545460',
 '556927',
 'C562921',
 '569137',
 '573338',
 '556416',
 '559134',
 '581023',
 '537643',
 '536876',
 '539739',
 '544768',
 '570514',
 '553869',
 '575866',
 '545945',
 '564172',
 '558240',
 '563931',
 'C556268',
 '560772',
 '549425',
 '555510',
 '557493',
 '557064',
 '563166',
 '569555',
 '579694',
 '549305',
 '539708',
 '569568',
 '557494',
 '547830',
 'C550808',
 '571377',
 '555851',
 '546980',
 '566577',
 '553566',
 '554798',
 '554842',
 '561933',
 '564755',
 '548734',
 '560976',
 '575939',
 '580774',
 '576181',
 '575063',
 '575221',
 '542664',
 '545343',
 '552257',
 '546669',
 '577531',
 '539465',
 '557973',
 '566326',
 '545445',
 '547788',
 '580098',
 '580066',
 '565675',
 '569577',
 '575477',
 'C555409',
 '561702',
 '573083',
 '559942',
 '552614',
 '544305',
 'C555253',
 '549909',
 '570374',
 '553946',
 '555015',
 '579777',
 '551997',
 '566400',
 '551005',
 '545216',
 '543826',
 '570720',
 '567793',
 '578943',
 '560780',
 '552336',
 '558089',
 '547936',
 '542527',
 '556073',
 '560590',
 '558862',
 '581219',
 '543099',
 '551352',
 '540418',
 '539752',
 '553210',
 '556503',
 '565231',
 '543055',
 'C562147',
 '548896',
 '552710',
 '552825',
 '559906',
 '552493',
 '549360',
 '550474',
 '554310',
 '549296',
 '579012',
 '556243',
 '548516',
 '558030',
 '538566',
 '558035',
 '559827',
 '575206',
 '572229',
 '570388',
 '564857',
 '567671',
 '571216',
 '569524',
 '552642',
 '543467',
 '545377',
 '564754',
 '550213',
 '560473',
 'C541822',
 '578344',
 '548739',
 '572550',
 '580612',
 '558683',
 '543399',
 '537022',
 '562377',
 '541969',
 '544338',
 '546891',
 '545719',
 '544668',
 '555499',
 '540154',
 '547385',
 '553891',
 '548718',
 '570834',
 '551171',
 '551995',
 '553612',
 '577691',
 '558885',
 '543923',
 '540646',
 '544920',
 '562607',
 '564817',
 '563353',
 '542647',
 '550251',
 '543201',
 '562534',
 '536523',
 '563549',
 '567663',
 '554028',
 '539564',
 '562222',
 '556812',
 'C543837',
 '567639',
 '544095',
 '552247',
 '567905',
 '564057',
 'C537853',
 '570270',
 '560246',
 '548987',
 '573892',
 '552323',
 '574950',
 '555743',
 '561894',
 '564432',
 'C574548',
 '565862',
 '559679',
 '543546',
 '542999',
 '568574',
 '552302',
 '553013',
 '557560',
 '572758',
 '580729',
 '552816',
 '579751',
 '541424',
 '550470',
 '552857',
 'C556793',
 '565838',
 '570872',
 '555327',
 '551088',
 '539442',
 '567528',
 '562202',
 '564199',
 '573388',
 '567368',
 '561209',
 '565994',
 '545063',
 '568908',
 '567378',
 '576329',
 '578044',
 '578844',
 '550958',
 '537823',
 '559938',
 '551994',
 '565519',
 'C539467',
 '565155',
 '544301',
 '547964',
 '557431',
 '550499',
 '540352',
 '579512',
 '576837',
 '567631',
 '581498',
 'C548355',
 '543451',
 '553162',
 '575607',
 '556501',
 '568654',
 '566477',
 '536804',
 '553542',
 '575930',
 '565748',
 '542255',
 '558770',
 '553768',
 '556016',
 '539468',
 '543251',
 '555524',
 '558918',
 '552663',
 '564825',
 '574739',
 '545681',
 '577029',
 '539437',
 '578827',
 'C552698',
 '542862',
 '550186',
 '557672',
 '566788',
 'C564854',
 '537313',
 '541220',
 '562033',
 '577610',
 '573266',
 '572854',
 '539735',
 '565396',
 '558475',
 '560036',
 '539436',
 '544596',
 '537830',
 '548163',
 '561926',
 '545667',
 '556826',
 '569545',
 '573125',
 '555574',
 '548733',
 '556636',
 '577400',
 '567673',
 '540539',
 '543532',
 '565781',
 '566060',
 '552662',
 '551058',
 'C566167',
 '569570',
 '546007',
 '569544',
 '549261',
 '567157',
 '545601',
 '574707',
 '566981',
 '543485',
 '548159',
 'C558312',
 '565916',
 '574856',
 '568193',
 '552734',
 '550468',
 '553901',
 '572028',
 '548194',
 '563951',
 '547096',
 '549592',
 '544888',
 '573020',
 'C559949',
 '579297',
 '577039',
 '552324',
 '560209',
 '544940',
 '574076',
 '571931',
 '545475',
 '580115',
 '566988',
 '554139',
 '564974',
 'C577752',
 '556284',
 '550638',
 '562420',
 '553546',
 '559494',
 '572969',
 '536623',
 '546314',
 '568057',
 '553035',
 '577298',
 '557034',
 '538880',
 '555836',
 '536946',
 ...}

In [245]:
data[data['InvoiceNo']=='562950']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
297488,562950,22752,SET 7 BABUSHKA NESTING BOXES,2,08/11/2011 09:56,8.50,15608.0,United Kingdom
297489,562950,22755,SMALL PURPLE BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom
297490,562950,22753,SMALL YELLOW BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom
297491,562950,22754,SMALL RED BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom
297492,562950,22757,LARGE RED BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom
297493,562950,22758,LARGE PURPLE BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom
297494,562950,22756,LARGE YELLOW BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom
297495,562950,23310,BUBBLEGUM RING ASSORTED,36,08/11/2011 09:56,0.42,15608.0,United Kingdom
297496,562950,23280,FOLDING BUTTERFLY MIRROR HOT PINK,12,08/11/2011 09:56,0.83,15608.0,United Kingdom
297497,562950,22383,LUNCH BAG SUKI DESIGN,10,08/11/2011 09:56,1.65,15608.0,United Kingdom
297498,562950,22492,MINI PAINT SET VINTAGE,36,08/11/2011 09:56,0.65,15608.0,United Kingdom
297499,562950,71459,HANGING JAM JAR T-LIGHT HOLDER,12,08/11/2011 09:56,0.85,15608.0,United Kingdom
297500,562950,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,08/11/2011 09:56,0.85,15608.0,United Kingdom
297501,562950,21175,GIN + TONIC DIET METAL SIGN,12,08/11/2011 09:56,2.55,15608.0,United Kingdom
297502,562950,23164,REGENCY CAKE SLICE,4,08/11/2011 09:56,4.95,15608.0,United Kingdom
297503,562950,23245,SET OF 3 REGENCY CAKE TINS,4,08/11/2011 09:56,4.95,15608.0,United Kingdom
297504,562950,23171,REGENCY TEA PLATE GREEN,12,08/11/2011 09:56,1.65,15608.0,United Kingdom
297505,562950,22697,GREEN REGENCY TEACUP AND SAUCER,6,08/11/2011 09:56,2.95,15608.0,United Kingdom

## quiz 22386 และ 85099b คือสินค้าอะไร

In [246]:
set(data[(data['StockCode']=='22386')  ]['Description'])

{'JUMBO BAG PINK POLKADOT'}

In [247]:
set(data[(data['StockCode']=='85099B') ]['Description'])

{'JUMBO BAG RED RETROSPOT'}

#Hw หา Frequent Item Set  และ Association Rules
- ของช่วงเวลา Chirtmas & New Year(1 Dec -31 Dec)
- ของประเทศในทวีป Europe
- ของช่วงเวลา ตรุษจีน ในทวีป Asai (15 jan-15 Feb)
- ของช่วงเวลา Chirtmas & New Year ในทวีป Europe (1 Dec -31 Dec)
- ของวันวาเลนไทน์
- โดยจัดกลุ่มตามประเทศ+เดือน

In [248]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [249]:
from apyori import apriori

In [250]:
df = pd.read_csv(os.path.join(path, 'reduced_marketbasket.csv'), encoding='latin-1')

## ข้อ 1. ช่วงเวลา Chirtmas & New Year(1 Dec -31 Dec)

In [251]:
# Convert the 'InvoiceDate' column to a datetime object
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%m/%d/%Y %H:%M')

In [252]:
# Filter the data for December 1st to December 31st of all years
filtered_df = df[(df['InvoiceDate'].dt.month == 12) & (df['InvoiceDate'].dt.day >= 1) & (df['InvoiceDate'].dt.day <= 31)]

# Display the filtered data
print(filtered_df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[68006 rows x 8 columns]

In [253]:
# transactions= filtered_df.groupby('InvoiceNo')['StockCode'].apply(list)
# transactions  ### ถ้าใช้ transactions แทน transactions_apply จะเป็นการโชว์ StockCode แทนข้อมูลสินค้า ###

In [254]:
transactions = filtered_df.groupby('InvoiceNo')['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist
transactions_apply = transactions['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [255]:
frequentItemset = list(apriori(transactions_apply, min_support=0.035))

for record in frequentItemset:
    if len(record.items) > 1:
        print('yes')
        print(f"Items: {', '.join(record.items)}")
        print(f"Support: {record.support:.4f} ({record.support*100:.2f}%)")

        for i, stat in enumerate(record.ordered_statistics, 1):
            items_base = 'None' if not stat.items_base else ', '.join(stat.items_base)
            items_add = ', '.join(stat.items_add)
            confidence = stat.confidence
            lift = stat.lift

            print(f"Rule {i}: ({items_base} -> {items_add} : Confidence={confidence:.4f}, Lift={lift:.4f})")
        print()

yes
Items: ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED
Support: 0.0368 (3.68%)
Rule 1: (None -> ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED  : Confidence=0.0368, Lift=1.0000)
Rule 2: (ALARM CLOCK BAKELIKE GREEN -> ALARM CLOCK BAKELIKE RED  : Confidence=0.7089, Lift=14.4627)
Rule 3: (ALARM CLOCK BAKELIKE RED  -> ALARM CLOCK BAKELIKE GREEN : Confidence=0.7517, Lift=14.4627)

yes
Items: CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY
Support: 0.0365 (3.65%)
Rule 1: (None -> CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY : Confidence=0.0365, Lift=1.0000)
Rule 2: (CHOCOLATE HOT WATER BOTTLE -> HOT WATER BOTTLE I AM SO POORLY : Confidence=0.5163, Lift=9.7484)
Rule 3: (HOT WATER BOTTLE I AM SO POORLY -> CHOCOLATE HOT WATER BOTTLE : Confidence=0.6894, Lift=9.7484)

yes
Items: PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS
Support: 0.0477 (4.77%)
Rule 1: (None -> PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.0477, Lift=1.0000)
Rule 2: (PAPER CHAIN KIT 50'S CHRISTMAS  -> PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.5160, Lift=7.1958)
Rule 3: (PAPER CHAIN KIT VINTAGE CHRISTMAS -> PAPER CHAIN KIT 50'S CHRISTMAS  : Confidence=0.6651, Lift=7.1958)

สรุป เลือกอันที่มีค่าสนับสนุนมากที่สุด


Items: PAPER CHAIN KIT VINTAGE CHRISTMAS และ PAPER CHAIN KIT 50'S CHRISTMAS ค่าสนับสนุนคือ 0.0477 หรือ 4.77% ของการทำธุรกรรมทั้งหมด

- เมื่อ 'PAPER CHAIN KIT 50'S CHRISTMAS' ถูกซื้อ มีความมั่นใจ 51.60% ว่า 'PAPER CHAIN KIT VINTAGE CHRISTMAS' จะถูกซื้อด้วย

- เมื่อ 'PAPER CHAIN KIT VINTAGE CHRISTMAS' ถูกซื้อ มีโอกาส 66.51% ว่า 'PAPER CHAIN KIT 50'S CHRISTMAS' จะถูกซื้อด้วย

## ข้อ 2. ประเทศในทวีป Europe

In [256]:
european_countries = [
    "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium",
    "Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czech Republic",
    "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece",
    "Hungary", "Iceland", "Ireland", "Italy", "Kazakhstan", "Kosovo", "Latvia",
    "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco",
    "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal",
    "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia",
    "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom", "Vatican City"
]

In [257]:
# Filter the DataFrame for rows where 'Country' is in the list of Europe
filtered_df2 = df[df['Country'].isin(european_countries)]

# โชว์ filtered data เพื่อcheck
print(filtered_df2)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[529343 rows x 8 columns]

In [258]:
transactions2 = filtered_df2.groupby('InvoiceNo')['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist
transactions_apply2 = transactions2['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [259]:
frequentItemset2 = list(apriori(transactions_apply2, min_support=0.025))

for record in frequentItemset2:
    if len(record.items) > 1:
        print('yes')
        print(f"Items: {', '.join(record.items)}")
        print(f"Support: {record.support:.4f} ({record.support*100:.2f}%)")

        for i, stat in enumerate(record.ordered_statistics, 1):
            items_base = 'None' if not stat.items_base else ', '.join(stat.items_base)
            items_add = ', '.join(stat.items_add)
            confidence = stat.confidence
            lift = stat.lift

            print(f"Rule {i}: ({items_base} -> {items_add} : Confidence={confidence:.4f}, Lift={lift:.4f})")
        print()

yes
Items: ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED
Support: 0.0251 (2.51%)
Rule 1: (None -> ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED  : Confidence=0.0251, Lift=1.0000)
Rule 2: (ALARM CLOCK BAKELIKE GREEN -> ALARM CLOCK BAKELIKE RED  : Confidence=0.6467, Lift=15.5435)
Rule 3: (ALARM CLOCK BAKELIKE RED  -> ALARM CLOCK BAKELIKE GREEN : Confidence=0.6044, Lift=15.5435)

yes
Items: GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER
Support: 0.0292 (2.92%)
Rule 1: (None -> GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER  : Confidence=0.0292, Lift=1.0000)
Rule 2: (GREEN REGENCY TEACUP AND SAUCER -> ROSES REGENCY TEACUP AND SAUCER  : Confidence=0.7334, Lift=17.6273)
Rule 3: (ROSES REGENCY TEACUP AND SAUCER  -> GREEN REGENCY TEACUP AND SAUCER : Confidence=0.7021, Lift=17.6273)

yes
Items: JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKADOT
Support: 0.0327 (3.27%)
Rule 1: (None -> JUMBO BAG PINK POLKADOT, JUMBO BAG RED RETROSPOT : Confidence=0.0327, Lift=1.0000)
Rule 2: (JUMBO BAG PINK POLKADOT -> JUMBO BAG RED RETROSPOT : Confidence=0.6767, Lift=8.1482)
Rule 3: (JUMBO BAG RED RETROSPOT -> JUMBO BAG PINK POLKADOT : Confidence=0.3940, Lift=8.1482)

yes
Items: JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG RED RETROSPOT
Support: 0.0268 (2.68%)
Rule 1: (None -> JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG RED RETROSPOT : Confidence=0.0268, Lift=1.0000)
Rule 2: (JUMBO BAG RED RETROSPOT -> JUMBO SHOPPER VINTAGE RED PAISLEY : Confidence=0.3227, Lift=6.9578)
Rule 3: (JUMBO SHOPPER VINTAGE RED PAISLEY -> JUMBO BAG RED RETROSPOT : Confidence=0.5779, Lift=6.9578)

yes
Items: JUMBO STORAGE BAG SUKI, JUMBO BAG RED RETROSPOT
Support: 0.0289 (2.89%)
Rule 1: (None -> JUMBO STORAGE BAG SUKI, JUMBO BAG RED RETROSPOT : Confidence=0.0289, Lift=1.0000)
Rule 2: (JUMBO BAG RED RETROSPOT -> JUMBO STORAGE BAG SUKI : Confidence=0.3474, Lift=7.3591)
Rule 3: (JUMBO STORAGE BAG SUKI -> JUMBO BAG RED RETROSPOT : Confidence=0.6112, Lift=7.3591)

yes
Items: LUNCH BAG RED RETROSPOT, LUNCH BAG  BLACK SKULL.
Support: 0.0251 (2.51%)
Rule 1: (None -> LUNCH BAG RED RETROSPOT, LUNCH BAG  BLACK SKULL. : Confidence=0.0251, Lift=1.0000)
Rule 2: (LUNCH BAG  BLACK SKULL. -> LUNCH BAG RED RETROSPOT : Confidence=0.4988, Lift=8.0643)
Rule 3: (LUNCH BAG RED RETROSPOT -> LUNCH BAG  BLACK SKULL. : Confidence=0.4065, Lift=8.0643)

## ข้อ 3. ช่วงเวลา ตรุษจีน ในทวีป Asai (15 jan-15 Feb)

In [260]:
asian_countries = [
    "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan",
    "Brunei", "Cambodia", "China", "Cyprus", "East Timor", "Georgia",
    "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan",
    "Kazakhstan", "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Malaysia",
    "Maldives", "Mongolia", "Myanmar", "Nepal", "North Korea", "Oman",
    "Pakistan", "Palestine", "Philippines", "Qatar", "Saudi Arabia",
    "Singapore", "South Korea", "Sri Lanka", "Syria", "Taiwan", "Tajikistan",
    "Thailand", "Turkey", "Turkmenistan", "United Arab Emirates", "Uzbekistan",
    "Vietnam", "Yemen"
]

In [261]:
# Filter the data  ตรุษจีน ในทวีป Asai (15 jan-15 Feb)
filtered_df3 = df[
     (((df['InvoiceDate'].dt.month == 1) & (df['InvoiceDate'].dt.day >= 15)) |
    ((df['InvoiceDate'].dt.month == 2) & (df['InvoiceDate'].dt.day <= 15))) &
    (df['Country'].isin(asian_countries))
]


# Display the filtered data
print(filtered_df3)

      InvoiceNo StockCode                       Description  Quantity  \
70758    542102     21519   GIN & TONIC DIET GREETING CARD         72
70759    542102     22697   GREEN REGENCY TEACUP AND SAUCER         6
70760    542102     22699  ROSES REGENCY TEACUP AND SAUCER          6
70761    542102     22343    PARTY PIZZA DISH RED RETROSPOT        24
70762    542102     22344    PARTY PIZZA DISH PINK POLKADOT        24
...         ...       ...                               ...       ...
89595    543911    47590B       PINK HAPPY BIRTHDAY BUNTING        12
89596    543911     22117  METAL SIGN HER DINNER IS SERVED         12
89597    543911     82567         AIRLINE LOUNGE,METAL SIGN        12
89598    543911     21910               WAY OUT METAL SIGN         12
89599    543911     21911                GARDEN METAL SIGN         12

              InvoiceDate  UnitPrice  CustomerID               Country
70758 2011-01-25 13:26:00       0.36     12744.0             Singapore
70759 2011-01-25 13:26:00       2.95     12744.0             Singapore
70760 2011-01-25 13:26:00       2.95     12744.0             Singapore
70761 2011-01-25 13:26:00       0.21     12744.0             Singapore
70762 2011-01-25 13:26:00       0.21     12744.0             Singapore
...                   ...        ...         ...                   ...
89595 2011-02-14 12:46:00       5.45     17829.0  United Arab Emirates
89596 2011-02-14 12:46:00       2.95     17829.0  United Arab Emirates
89597 2011-02-14 12:46:00       2.10     17829.0  United Arab Emirates
89598 2011-02-14 12:46:00       1.65     17829.0  United Arab Emirates
89599 2011-02-14 12:46:00       1.65     17829.0  United Arab Emirates

[308 rows x 8 columns]

In [262]:
transactions3 = filtered_df3.groupby('InvoiceNo')['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist
transactions_apply3 = transactions3['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [263]:
frequentItemset3 = list(apriori(transactions_apply3, min_support=0.4))

for record in frequentItemset3:
    if len(record.items) > 1:
        print('yes')
        print(f"Items: {', '.join(record.items)}")
        print(f"Support: {record.support:.4f} ({record.support*100:.2f}%)")

        for i, stat in enumerate(record.ordered_statistics, 1):
            items_base = 'None' if not stat.items_base else ', '.join(stat.items_base)
            items_add = ', '.join(stat.items_add)
            confidence = stat.confidence
            lift = stat.lift

            print(f"Rule {i}: ({items_base} -> {items_add} : Confidence={confidence:.4f}, Lift={lift:.4f})")
        print()

yes
Items: BATH BUILDING BLOCK WORD, JAM MAKING SET WITH JARS
Support: 0.4286 (42.86%)
Rule 1: (None -> BATH BUILDING BLOCK WORD, JAM MAKING SET WITH JARS : Confidence=0.4286, Lift=1.0000)
Rule 2: (BATH BUILDING BLOCK WORD -> JAM MAKING SET WITH JARS : Confidence=1.0000, Lift=2.3333)
Rule 3: (JAM MAKING SET WITH JARS -> BATH BUILDING BLOCK WORD : Confidence=1.0000, Lift=2.3333)

## ข้อ 4. ช่วงเวลา Chirtmas & New Year ในทวีป Europe (1 Dec -31 Dec)

In [264]:
# Filter the data  ตรุษจีน ในทวีป Asai (15 jan-15 Feb)
filtered_df4 = df[
     (df['InvoiceDate'].dt.month == 12)  &
    (df['Country'].isin(european_countries))
]


# Display the filtered data
print(filtered_df4)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[67091 rows x 8 columns]

In [265]:
transactions4 = filtered_df4.groupby('InvoiceNo')['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist
transactions_apply4 = transactions4['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [266]:
frequentItemset4 = list(apriori(transactions_apply4, min_support=0.035))

for record in frequentItemset4:
    if len(record.items) > 1:
        print('yes')
        print(f"Items: {', '.join(record.items)}")
        print(f"Support: {record.support:.4f} ({record.support*100:.2f}%)")

        for i, stat in enumerate(record.ordered_statistics, 1):
            items_base = 'None' if not stat.items_base else ', '.join(stat.items_base)
            items_add = ', '.join(stat.items_add)
            confidence = stat.confidence
            lift = stat.lift

            print(f"Rule {i}: ({items_base} -> {items_add} : Confidence={confidence:.4f}, Lift={lift:.4f})")
        print()

yes
Items: ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED
Support: 0.0371 (3.71%)
Rule 1: (None -> ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED  : Confidence=0.0371, Lift=1.0000)
Rule 2: (ALARM CLOCK BAKELIKE GREEN -> ALARM CLOCK BAKELIKE RED  : Confidence=0.7070, Lift=14.3806)
Rule 3: (ALARM CLOCK BAKELIKE RED  -> ALARM CLOCK BAKELIKE GREEN : Confidence=0.7551, Lift=14.3806)

yes
Items: CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY
Support: 0.0365 (3.65%)
Rule 1: (None -> CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY : Confidence=0.0365, Lift=1.0000)
Rule 2: (CHOCOLATE HOT WATER BOTTLE -> HOT WATER BOTTLE I AM SO POORLY : Confidence=0.5215, Lift=9.8074)
Rule 3: (HOT WATER BOTTLE I AM SO POORLY -> CHOCOLATE HOT WATER BOTTLE : Confidence=0.6855, Lift=9.8074)

yes
Items: PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS
Support: 0.0478 (4.78%)
Rule 1: (None -> PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.0478, Lift=1.0000)
Rule 2: (PAPER CHAIN KIT 50'S CHRISTMAS  -> PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.5125, Lift=7.0949)
Rule 3: (PAPER CHAIN KIT VINTAGE CHRISTMAS -> PAPER CHAIN KIT 50'S CHRISTMAS  : Confidence=0.6620, Lift=7.0949)

## ข้อ 5. วันวาเลนไทน์

In [267]:
# Filter the data for December 1st to December 31st of all years
filtered_df5 = df[(df['InvoiceDate'].dt.month == 2) & (df['InvoiceDate'].dt.day == 14) ]

# Display the filtered data
print(filtered_df5)

      InvoiceNo StockCode                         Description  Quantity  \
88847    543821     22926      IVORY GIANT GARDEN THERMOMETER         2
88848    543821     22928     YELLOW GIANT GARDEN THERMOMETER         2
88849    543821     22925       BLUE GIANT GARDEN THERMOMETER         2
88850    543821     85175               CACTI T-LIGHT CANDLES        16
88851    543821     22456     NATURAL SLATE CHALKBOARD LARGE          3
...         ...       ...                                 ...       ...
89950    543979     21889              WOODEN BOX OF DOMINOES         1
89951    543979     85176          SEWING SUSAN 21 NEEDLE SET         1
89952    543979     37446  MINI CAKE STAND WITH HANGING CAKES         1
89953    543979     21657     MILK BOTTLE WITH GLASS STOPPER          1
89954   C543980     22728           ALARM CLOCK BAKELIKE PINK        -1

              InvoiceDate  UnitPrice  CustomerID         Country
88847 2011-02-14 09:24:00       5.95     17667.0  United Kingdom
88848 2011-02-14 09:24:00       5.95     17667.0  United Kingdom
88849 2011-02-14 09:24:00       5.95     17667.0  United Kingdom
88850 2011-02-14 09:24:00       0.42     17667.0  United Kingdom
88851 2011-02-14 09:24:00       4.95     17667.0  United Kingdom
...                   ...        ...         ...             ...
89950 2011-02-14 15:43:00       1.25     14606.0  United Kingdom
89951 2011-02-14 15:43:00       0.85     14606.0  United Kingdom
89952 2011-02-14 15:43:00       1.45     14606.0  United Kingdom
89953 2011-02-14 15:43:00       6.95     14606.0  United Kingdom
89954 2011-02-14 16:39:00       3.75     14189.0  United Kingdom

[1108 rows x 8 columns]

In [268]:
transactions5 = filtered_df5.groupby('InvoiceNo')['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist
transactions_apply5 = transactions5['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [269]:
frequentItemset4 = list(apriori(transactions_apply4, min_support=0.035))

for record in frequentItemset4:
    if len(record.items) > 1:
        print('yes')
        print(f"Items: {', '.join(record.items)}")
        print(f"Support: {record.support:.4f} ({record.support*100:.2f}%)")

        for i, stat in enumerate(record.ordered_statistics, 1):
            items_base = 'None' if not stat.items_base else ', '.join(stat.items_base)
            items_add = ', '.join(stat.items_add)
            confidence = stat.confidence
            lift = stat.lift

            print(f"Rule {i}: ({items_base} -> {items_add} : Confidence={confidence:.4f}, Lift={lift:.4f})")
        print()

yes
Items: ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED
Support: 0.0371 (3.71%)
Rule 1: (None -> ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED  : Confidence=0.0371, Lift=1.0000)
Rule 2: (ALARM CLOCK BAKELIKE GREEN -> ALARM CLOCK BAKELIKE RED  : Confidence=0.7070, Lift=14.3806)
Rule 3: (ALARM CLOCK BAKELIKE RED  -> ALARM CLOCK BAKELIKE GREEN : Confidence=0.7551, Lift=14.3806)

yes
Items: CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY
Support: 0.0365 (3.65%)
Rule 1: (None -> CHOCOLATE HOT WATER BOTTLE, HOT WATER BOTTLE I AM SO POORLY : Confidence=0.0365, Lift=1.0000)
Rule 2: (CHOCOLATE HOT WATER BOTTLE -> HOT WATER BOTTLE I AM SO POORLY : Confidence=0.5215, Lift=9.8074)
Rule 3: (HOT WATER BOTTLE I AM SO POORLY -> CHOCOLATE HOT WATER BOTTLE : Confidence=0.6855, Lift=9.8074)

yes
Items: PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS
Support: 0.0478 (4.78%)
Rule 1: (None -> PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.0478, Lift=1.0000)
Rule 2: (PAPER CHAIN KIT 50'S CHRISTMAS  -> PAPER CHAIN KIT VINTAGE CHRISTMAS : Confidence=0.5125, Lift=7.0949)
Rule 3: (PAPER CHAIN KIT VINTAGE CHRISTMAS -> PAPER CHAIN KIT 50'S CHRISTMAS  : Confidence=0.6620, Lift=7.0949)

## ข้อ 6. โดยจัดกลุ่มตามประเทศ+เดือน

In [270]:
df6 = pd.read_csv(os.path.join(path, 'reduced_marketbasket.csv'), encoding='latin-1')

In [271]:
# Convert the 'InvoiceDate' column to a datetime object
df6['InvoiceDate'] = pd.to_datetime(df6['InvoiceDate'], format='%m/%d/%Y %H:%M')

In [272]:
df6['Month'] = df6['InvoiceDate'].dt.month

# df6['Year'] = df6['InvoiceDate'].dt.year

In [273]:
transactions6 = df6.groupby(['Country', 'Month'])['Description'].apply(list).reset_index() #ทำการ group และทำให้ข้อมูลใน Description เป็นlist  สามารถเพิ่มปี ได้โดย 'Year'
# transactions_apply = transactions['Description'].apply(lambda x: [str(item) for item in x]) #ใช้ฟังก์ชัน lambda เพื่อแปลงสินค้าทุกชิ้นใน list ของ 'transactions' เป็นข้อความ (string)

In [274]:
transactions6

         Country  Month                                        Description
0      Australia      1  [RIBBON REEL LACE DESIGN , RIBBON REEL HEARTS ...
1      Australia      2  [HANGING HEART JAR T-LIGHT HOLDER, JAM MAKING ...
2      Australia      3  [PANTRY ROLLING PIN, PANTRY SCRUBBING BRUSH, S...
3      Australia      4  [POSTAGE, JIGSAW TOADSTOOLS 3 PIECE, SET OF 4 ...
4      Australia      5  [ROSES REGENCY TEACUP AND SAUCER , EASTER TIN ...
..           ...    ...                                                ...
291  Unspecified      6  [PARTY CHARMS 50 PIECES, PACK OF 6 LARGE FRUIT...
292  Unspecified      7  [ASSORTED MINI MADRAS NOTEBOOK, PACK OF 72 RET...
293  Unspecified      8  [STORAGE TIN VINTAGE DOILY , SET OF 72 RETROSP...
294  Unspecified      9  [CALENDAR PAPER CUT DESIGN, DINOSAURS  WRITING...
295  Unspecified     11  [ROUND SNACK BOXES SET OF4 WOODLAND , LUNCH BA...

[296 rows x 3 columns]