<a href="https://colab.research.google.com/github/phurisk/BSC_DPDM23/blob/main/midterm_bscdpdm23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลอุตุนิยมวิทยา (https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)

ให้เตรียมข้อมูลลักษณะอากาศของแต่ละวัน (แก้ missing, noise, ฯลฯ ) และสร้างตารางเพื่อทำการทำนาย ปริมาณน้ำฝนสำหรับจังหวัดขอนแก่นของวันถัดไป (ปริมาณน้ำฝนขอนแก่นของวันที่ D+1) จากข้อมูลลักษณะอากาศในจังหวัดต่างๆ (ขอนแก่น,หนองคาย,นครพนม,เลย,สกลนคร) ของวันปัจจุบัน (อุณหภูมิตุ้มแห้งขอนแก่นของวันที่ D,...,ความเร็วลมสกลนครของวันที่ D)


ตัวอย่างตารางที่ต้องการ (Xi มีทั้งหมด 5จังหวัด * 8ลักษณะอากาศ = 40 columns และ Y อีก 1 columns)

![image.png]()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# X1 ความกด(เปอร์เซ็นต์)

## จัดข้อมูล เพื่อนำไปทำ Function
- เนื่องจากข้อมูลมี Format เดียวกันการทำ Function จะได้ง่ายต่อการเตรียมข้อมูลเริ่มต้น เพราะเป็นการทำงานที่ซ้ำๆ

In [3]:
import os
import pandas as p
import numpy as npd

In [4]:
file_path = "/content/drive/Shareddrives/Utu/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx"

In [5]:
df = pd.read_excel(file_path)

################################################################################

- 1 เป็นการเลือกตั้งแต่ row ที่5 ลงมา และเลือกตั้งแต่ column ที่ 3 จนถึงก่อนสุดท้าย 1 column

In [6]:
df = df.iloc[4:, 2:34]

- 2 ทำการแปลงคอลัมน์ที่มีข้อมูลวันที่-เวลา ที่มีให้อยู่ในรูปแบบของ Pandas DateTime

In [7]:
df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0])

- 3 แปลงข้อมูล Pandas DateTime ให้อยู่ในรูป ปี/เดือน

In [8]:
df.iloc[:, 0] = df.iloc[:, 0].dt.to_period('M')

- 4 setให้คอลัมน์ที่ 0 ใน DataFrame กลายเป็น index ของ DataFrame

In [9]:
df.set_index(df.columns[0], inplace=True)

In [10]:
df

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
Unnamed: 2,,,,,,,,,,,,,,,,,,,,,
2011-10,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,1010.20,1010.14,1010.60,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
2011-11,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,1007.20,1009.68,1011.96,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
2011-12,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,1011.94,1014.29,1016.10,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
2012-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,1018.06,1016.98,1016.18,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
2012-02,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,1009.66,1011.25,1011.42,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-
2012-10,1011.5,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,1010.07,1010.56,1011.39,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
2012-11,1012.67,1011.17,1010.47,1010.24,1010.43,1010.90,1009.76,1008.36,1008.55,1009.21,...,1008.60,1008.60,1010.51,1011.46,1010.77,1010.16,1010.18,1010.04,1009.54,-
2012-12,1009.8,1010.17,1010.74,1010.72,1010.61,1012.15,1011.02,1011.34,1010.76,1010.29,...,1010.88,1014.53,1016.29,1013.54,1011.60,1010.58,1009.61,1009.9,1011.64,1014.86
2013-01,1014.58,1013.30,1013.73,1012.89,1011.43,1011.80,1012.20,1011.64,1010.92,1012.06,...,1013.70,1013.16,1012.54,1012.09,1012.41,1013.80,1016.45,1015.31,1014.99,1015.58
2013-02,1015.19,1013.97,1013.89,1013.91,1013.43,1011.11,1008.35,1008.48,1011.74,1012.34,...,1013.99,1015.38,1013.40,1011.79,1010.17,1007.95,1006.82,-,-,-
2013-10,1007.15,1010.12,1009.88,1009.47,1008.08,1008.35,1009.30,1010.10,1010.45,1011.16,...,1012.93,1012.52,1012.21,1013.81,1014.58,1013.70,1013.78,1013.54,1012.81,1012.4
2013-11,1011.98,1011.46,1012.38,1014.27,1013.73,1012.49,1012.23,1010.61,1009.89,1007.32,...,1011.68,1010.88,1010.65,1009.57,1009.86,1011.42,1014.45,1016.41,1015.26,-
2013-12,1016.33,1016.26,1014.47,1013.72,1012.13,1012.41,1013.45,1012.37,1011.16,1010.57,...,1018.30,1016.96,1017.48,1017.28,1016.62,1017.87,1016.97,1016.84,1017,1017.5
2014-01,1015.68,1013.34,1012.22,1013.22,1012.63,1011.37,1011.15,1011.98,1013.42,1015.75,...,1020.76,1018.49,1014.48,1012.48,1014.52,1015.37,1013.99,1014.53,1015.39,1014.49
2014-02,1011.69,1008.58,1006.13,1005.61,1006.28,1006.33,1006.42,1006.23,1006.78,1007.52,...,1014.33,1013.56,1013.11,1012.19,1010.95,1011.90,1010.65,1017.86,1016.45,-
2014-10,1010.85,1010.07,1008.86,1008.74,1009.45,1011.89,1011.67,1011.46,1010.61,1009.07,...,1012.54,1011.90,1011.71,1011.75,1012.54,1011.60,1010.97,1011.07,1010.28,1009.99
2014-11,1009.82,1010.80,1012.60,1012.98,1013.05,1011.94,1011.51,1012.14,1013.48,1012.10,...,1012.35,1012.04,1011.58,1010.59,1009.18,1009.71,1009.71,1009.31,1008.11,-
2014-12,1010.1,1011.37,1011.13,1012.84,1015.01,1013.72,1012.41,1014.19,1015.44,1014.55,...,1016.93,1016.09,1015.77,1014.03,1011.86,1012.67,1015.48,1016.54,1014.73,1015.75
2015-01,1018.1,1018.43,1016.61,1013.04,1010.62,1010.23,1011.51,1015.12,1015.82,1015.58,...,1017.44,1014.58,1013.35,1013.90,1013.39,1011.88,1010.83,1012.02,1013.99,1016.1
2015-02,1017.24,1017.93,1018.05,1016.92,1016.98,1017.54,1015.70,1016.24,1017.46,1016.14,...,1012.25,1012.47,1010.20,1008.99,1008.88,1009.33,1009.39,-,-,-
2015-10,1011.22,1010.97,1010.41,1010.60,1010.96,1011.22,1011.05,1010.99,1009.42,1009.59,...,1010.32,1011.04,1012.27,1013.21,1013.10,1012.37,1013.38,1013.26,1013.24,1013.93
2015-11,1014.97,1015.22,1014.31,1012.89,1010.98,1010.44,1012.16,1012.91,1011.79,1011.18,...,1011.73,1011.81,1011.37,1011.94,1013.02,1014.29,1015.72,1015.5,1014.26,-
2015-12,1012.55,1012.12,1012.52,1012.37,1013.84,1015.29,1016.55,1015.76,1013.67,1011.68,...,1015.41,1014.23,1012.50,1012.83,1014.45,1016.48,1018.15,1017.3,1016.83,1018.79
2016-01,1019.11,1017.96,1016.01,1014.81,1013.54,1014.17,1015.09,1014.30,1012.63,1012.37,...,1012.14,1014.31,1022.85,1024.58,1021.61,1018.09,1014.91,1012.85,1012.14,1010.96
2016-02,1012.54,1015.56,1015.71,1014.56,1014.67,1018.76,1021.78,1019.35,1017.07,1013.61,...,1014.81,1013.14,1016.51,1020.20,1020.62,1019.59,1018.81,1018.79,1014.23,-
2016-10,1008.89,1008.47,1007.18,1006.91,1006.73,1008.18,1008.18,1008.90,1008.46,1008.09,...,1007.17,1007.01,1007.45,1008.60,1010.82,1012.48,1011.16,1011.55,1012.69,1012.93
2016-11,1012.79,1013.98,1014.58,1012.23,1009.86,1009.65,1010.88,1011.42,1012.63,1014.41,...,1008.34,1009.72,1010.14,1010.23,1010.87,1012.68,1014.55,1015.79,1016.13,-
2016-12,1016.86,1016.16,1015.39,1014.32,1013.74,1015.07,1014.06,1012.36,1011.13,1011.77,...,1012.42,1012.91,1012.30,1012.25,1011.84,1013.72,1016.30,1017.37,1017.8,1016.77
2017-01,1015.76,1014.10,1013.84,1012.96,1012.34,1010.60,1008.84,1008.96,1009.13,1010.50,...,1018.39,1018.28,1017.70,1017.96,1017.01,1016.06,1014.32,1012.96,1012.88,1013.95
2017-02,1014.21,1015.26,1014.23,1011.67,1010.69,1009.80,1008.96,1009.50,1011.73,1014.17,...,1009.86,1010.00,1011.29,1012.89,1013.60,1014.51,1013.49,1016.69,1017.07,-
2017-10,1009.04,1007.45,1007.44,1009.05,1010.15,1009.71,1008.66,1008.42,1006.91,1005.28,...,1010.01,1011.04,1014.10,1015.08,1013.71,1011.98,1012.53,1013.79,1015.2,1014.65
2017-11,1013.68,1011.33,1012.00,1011.97,1013.19,1012.18,1011.52,1012.19,1010.90,1010.68,...,1011.44,1012.42,1015.12,1015.78,1014.90,1012.86,1012.40,1012.22,1011.47,-
2017-12,1012.16,1012.63,1012.48,1012.26,1013.50,1012.88,1012.24,1014.24,1015.22,1013.94,...,1015.55,1012.10,1013.11,1014.21,1015.17,1014.80,1014.75,1014.72,1014.49,1015.22
2018-01,1013.49,1012.55,1011.88,1010.84,1009.47,1008.59,1009.45,1010.29,1012.44,1017.21,...,1009.26,1008.89,1008.44,1008.10,1008.46,1008.72,1008.65,1009.56,1012.29,1013.5
2018-02,1016.03,1016.00,1018.19,1017.67,1019.01,1018.11,1015.02,1013.64,1011.78,1012.32,...,1010.92,1013.25,1013.63,1011.51,1011.92,1011.70,1009.53,-,-,-
2018-10,1010.47,1011.63,1011.63,1011.91,1012.22,1011.63,1011.61,1010.81,1010.46,1011.11,...,1012.39,1011.66,1012.16,1012.58,1013.42,1013.89,1013.66,1012.7,1012.71,1013.87
2018-11,1013.5,1013.96,1014.10,1013.05,1012.12,1012.11,1012.37,1011.50,1011.81,1012.00,...,1013.10,1015.23,1014.18,1013.51,1013.95,1015.92,1015.71,1015.89,1014.52,-
2018-12,1012.48,1011.29,1011.47,1011.69,1010.70,1009.97,1010.74,1012.90,1013.83,1013.34,...,1011.26,1012.47,1012.12,1011.17,1009.81,1009.58,1011.02,1014.95,1017.04,1019.08
2019-01,1019.06,1018.25,1018.03,1016.94,1015.36,1014.87,1013.64,1013.33,1013.91,1013.48,...,1016.50,1015.52,1014.71,1015.12,1017.06,1017.11,1015.93,1014.39,1014.12,1014.12
2019-02,1014.93,1013.13,1012.71,1012.92,1011.68,1009.89,1010.78,1011.07,1010.62,1012.64,...,1009.84,1008.36,1008.63,1009.36,1010.52,1009.81,1008.33,-,-,-
2019-10,1009.73,1009.64,1009.30,1009.99,1010.62,1011.12,1011.16,1011.23,1011.03,1010.62,...,1008.59,1007.96,1009.48,1011.38,1011.52,1010.91,1010.81,1011.95,1012.02,1010.36
2019-11,1010.27,1010.69,1011.01,1012.42,1010.78,1009.42,1010.89,1014.10,1014.48,1012.70,...,1014.05,1013.12,1012.68,1014.43,1013.98,1013.13,1014.15,1014.29,1013.6,1010.36
2019-12,1012.81,1015.07,1017.05,1018.56,1019.41,1020.43,1020.26,1020.00,1017.99,1015.58,...,1011.74,1011.49,1011.94,1011.10,1011.34,1013.22,1014.32,1013.81,1014.76,1016.49
2020-01,1017.8,1018.04,1016.21,1014.33,1013.76,1013.74,1012.64,1012.90,1011.89,1010.65,...,1013.68,1011.31,1010.53,1008.93,1008.84,1009.65,1011.14,1013.8,1015.25,1015.43
2020-02,1014.57,1014.85,1013.17,1011.85,1012.19,1012.60,1013.20,1015.16,1016.71,1016.32,...,1019.41,1017.40,1014.74,1012.35,1012.54,1012.56,1011.53,1010.22,-,-
2020-10,1005.67,1006.21,1007.56,1008.25,1008.60,1008.88,1008.64,1008.28,1009.32,1008.64,...,1010.60,1011.37,1011.84,1010.77,1010.94,1009.87,1007.73,1006.46,1011.34,1012.11
2020-11,1012.18,1012.74,1013.72,1013.71,1013.32,1013.43,1014.50,1015.08,1013.83,1013.57,...,1011.91,1013.11,1012.99,1012.89,1013.69,1014.92,1015.28,1015.33,1015.85,-
2020-12,1016.17,1014.73,1015.23,1016.08,1016.58,1016.28,1015.71,1015.75,1014.11,1012.83,...,1015.10,1012.58,1011.89,1012.57,1012.30,1010.83,1009.91,1009.95,1013.86,1018.27
2021-01,1018.63,1017.35,1015.20,1015.49,1014.24,1012.99,1012.07,1013.96,1016.06,1016.00,...,1011.27,1011.15,1011.56,1011.04,1011.50,1011.67,1013.78,1015.66,1015.24,1014.93
2021-02,1014.44,1014.14,1014.30,1015.04,1014.19,1013.19,1012.24,1011.09,1012.31,1013.31,...,1011.11,1010.08,1008.40,1006.24,1004.28,1005.45,1007.80,-,-,-
2021-10,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,1004.61,1003.83,1004.25,1003.03,...,1013.04,1015.21,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96
2021-11,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,1007.80,1011.00,1013.72,1014.48,...,1011.00,1013.18,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,-
2021-12,1015.8,1017.00,1018.68,1018.13,1017.43,1016.91,1016.72,1016.97,1016.56,1015.48,...,1013.32,1012.63,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39
2022-01,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,1014.99,1014.69,1012.58,1012.23,...,1010.49,1010.66,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91
2022-02,1010.9,1012.02,1012.12,1013.77,1015.52,1014.63,1011.54,1010.64,1010.96,1010.32,...,1016.38,1017.55,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,-

In [11]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

df = df.apply(replace_dash_with_mean, axis=1)

In [12]:
df

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
Unnamed: 2,,,,,,,,,,,,,,,,,,,,,
2011-10,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,1010.20,1010.14,1010.60,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
2011-11,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,1007.20,1009.68,1011.96,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,1011.72
2011-12,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,1011.94,1014.29,1016.10,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
2012-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,1018.06,1016.98,1016.18,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
2012-02,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,1009.66,1011.25,1011.42,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,1009.75
2012-10,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,1010.07,1010.56,1011.39,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
2012-11,1012.67,1011.17,1010.47,1010.24,1010.43,1010.90,1009.76,1008.36,1008.55,1009.21,...,1008.60,1008.60,1010.51,1011.46,1010.77,1010.16,1010.18,1010.04,1009.54,1010.46
2012-12,1009.80,1010.17,1010.74,1010.72,1010.61,1012.15,1011.02,1011.34,1010.76,1010.29,...,1010.88,1014.53,1016.29,1013.54,1011.60,1010.58,1009.61,1009.9,1011.64,1014.86
2013-01,1014.58,1013.30,1013.73,1012.89,1011.43,1011.80,1012.20,1011.64,1010.92,1012.06,...,1013.70,1013.16,1012.54,1012.09,1012.41,1013.80,1016.45,1015.31,1014.99,1015.58
2013-02,1015.19,1013.97,1013.89,1013.91,1013.43,1011.11,1008.35,1008.48,1011.74,1012.34,...,1013.99,1015.38,1013.40,1011.79,1010.17,1007.95,1006.82,1011.21,1011.21,1011.21
2013-10,1007.15,1010.12,1009.88,1009.47,1008.08,1008.35,1009.30,1010.10,1010.45,1011.16,...,1012.93,1012.52,1012.21,1013.81,1014.58,1013.70,1013.78,1013.54,1012.81,1012.4
2013-11,1011.98,1011.46,1012.38,1014.27,1013.73,1012.49,1012.23,1010.61,1009.89,1007.32,...,1011.68,1010.88,1010.65,1009.57,1009.86,1011.42,1014.45,1016.41,1015.26,1011.74
2013-12,1016.33,1016.26,1014.47,1013.72,1012.13,1012.41,1013.45,1012.37,1011.16,1010.57,...,1018.30,1016.96,1017.48,1017.28,1016.62,1017.87,1016.97,1016.84,1017,1017.5
2014-01,1015.68,1013.34,1012.22,1013.22,1012.63,1011.37,1011.15,1011.98,1013.42,1015.75,...,1020.76,1018.49,1014.48,1012.48,1014.52,1015.37,1013.99,1014.53,1015.39,1014.49
2014-02,1011.69,1008.58,1006.13,1005.61,1006.28,1006.33,1006.42,1006.23,1006.78,1007.52,...,1014.33,1013.56,1013.11,1012.19,1010.95,1011.90,1010.65,1017.86,1016.45,1011.17
2014-10,1010.85,1010.07,1008.86,1008.74,1009.45,1011.89,1011.67,1011.46,1010.61,1009.07,...,1012.54,1011.90,1011.71,1011.75,1012.54,1011.60,1010.97,1011.07,1010.28,1009.99
2014-11,1009.82,1010.80,1012.60,1012.98,1013.05,1011.94,1011.51,1012.14,1013.48,1012.10,...,1012.35,1012.04,1011.58,1010.59,1009.18,1009.71,1009.71,1009.31,1008.11,1012.14
2014-12,1010.10,1011.37,1011.13,1012.84,1015.01,1013.72,1012.41,1014.19,1015.44,1014.55,...,1016.93,1016.09,1015.77,1014.03,1011.86,1012.67,1015.48,1016.54,1014.73,1015.75
2015-01,1018.10,1018.43,1016.61,1013.04,1010.62,1010.23,1011.51,1015.12,1015.82,1015.58,...,1017.44,1014.58,1013.35,1013.90,1013.39,1011.88,1010.83,1012.02,1013.99,1016.1
2015-02,1017.24,1017.93,1018.05,1016.92,1016.98,1017.54,1015.70,1016.24,1017.46,1016.14,...,1012.25,1012.47,1010.20,1008.99,1008.88,1009.33,1009.39,1013.37,1013.37,1013.37
2015-10,1011.22,1010.97,1010.41,1010.60,1010.96,1011.22,1011.05,1010.99,1009.42,1009.59,...,1010.32,1011.04,1012.27,1013.21,1013.10,1012.37,1013.38,1013.26,1013.24,1013.93
2015-11,1014.97,1015.22,1014.31,1012.89,1010.98,1010.44,1012.16,1012.91,1011.79,1011.18,...,1011.73,1011.81,1011.37,1011.94,1013.02,1014.29,1015.72,1015.5,1014.26,1012.32
2015-12,1012.55,1012.12,1012.52,1012.37,1013.84,1015.29,1016.55,1015.76,1013.67,1011.68,...,1015.41,1014.23,1012.50,1012.83,1014.45,1016.48,1018.15,1017.3,1016.83,1018.79
2016-01,1019.11,1017.96,1016.01,1014.81,1013.54,1014.17,1015.09,1014.30,1012.63,1012.37,...,1012.14,1014.31,1022.85,1024.58,1021.61,1018.09,1014.91,1012.85,1012.14,1010.96
2016-02,1012.54,1015.56,1015.71,1014.56,1014.67,1018.76,1021.78,1019.35,1017.07,1013.61,...,1014.81,1013.14,1016.51,1020.20,1020.62,1019.59,1018.81,1018.79,1014.23,1015.70
2016-10,1008.89,1008.47,1007.18,1006.91,1006.73,1008.18,1008.18,1008.90,1008.46,1008.09,...,1007.17,1007.01,1007.45,1008.60,1010.82,1012.48,1011.16,1011.55,1012.69,1012.93
2016-11,1012.79,1013.98,1014.58,1012.23,1009.86,1009.65,1010.88,1011.42,1012.63,1014.41,...,1008.34,1009.72,1010.14,1010.23,1010.87,1012.68,1014.55,1015.79,1016.13,1011.90
2016-12,1016.86,1016.16,1015.39,1014.32,1013.74,1015.07,1014.06,1012.36,1011.13,1011.77,...,1012.42,1012.91,1012.30,1012.25,1011.84,1013.72,1016.30,1017.37,1017.8,1016.77
2017-01,1015.76,1014.10,1013.84,1012.96,1012.34,1010.60,1008.84,1008.96,1009.13,1010.50,...,1018.39,1018.28,1017.70,1017.96,1017.01,1016.06,1014.32,1012.96,1012.88,1013.95
2017-02,1014.21,1015.26,1014.23,1011.67,1010.69,1009.80,1008.96,1009.50,1011.73,1014.17,...,1009.86,1010.00,1011.29,1012.89,1013.60,1014.51,1013.49,1016.69,1017.07,1013.89
2017-10,1009.04,1007.45,1007.44,1009.05,1010.15,1009.71,1008.66,1008.42,1006.91,1005.28,...,1010.01,1011.04,1014.10,1015.08,1013.71,1011.98,1012.53,1013.79,1015.2,1014.65
2017-11,1013.68,1011.33,1012.00,1011.97,1013.19,1012.18,1011.52,1012.19,1010.90,1010.68,...,1011.44,1012.42,1015.12,1015.78,1014.90,1012.86,1012.40,1012.22,1011.47,1011.56
2017-12,1012.16,1012.63,1012.48,1012.26,1013.50,1012.88,1012.24,1014.24,1015.22,1013.94,...,1015.55,1012.10,1013.11,1014.21,1015.17,1014.80,1014.75,1014.72,1014.49,1015.22
2018-01,1013.49,1012.55,1011.88,1010.84,1009.47,1008.59,1009.45,1010.29,1012.44,1017.21,...,1009.26,1008.89,1008.44,1008.10,1008.46,1008.72,1008.65,1009.56,1012.29,1013.5
2018-02,1016.03,1016.00,1018.19,1017.67,1019.01,1018.11,1015.02,1013.64,1011.78,1012.32,...,1010.92,1013.25,1013.63,1011.51,1011.92,1011.70,1009.53,1013.45,1013.45,1013.45
2018-10,1010.47,1011.63,1011.63,1011.91,1012.22,1011.63,1011.61,1010.81,1010.46,1011.11,...,1012.39,1011.66,1012.16,1012.58,1013.42,1013.89,1013.66,1012.7,1012.71,1013.87
2018-11,1013.50,1013.96,1014.10,1013.05,1012.12,1012.11,1012.37,1011.50,1011.81,1012.00,...,1013.10,1015.23,1014.18,1013.51,1013.95,1015.92,1015.71,1015.89,1014.52,1012.63
2018-12,1012.48,1011.29,1011.47,1011.69,1010.70,1009.97,1010.74,1012.90,1013.83,1013.34,...,1011.26,1012.47,1012.12,1011.17,1009.81,1009.58,1011.02,1014.95,1017.04,1019.08
2019-01,1019.06,1018.25,1018.03,1016.94,1015.36,1014.87,1013.64,1013.33,1013.91,1013.48,...,1016.50,1015.52,1014.71,1015.12,1017.06,1017.11,1015.93,1014.39,1014.12,1014.12
2019-02,1014.93,1013.13,1012.71,1012.92,1011.68,1009.89,1010.78,1011.07,1010.62,1012.64,...,1009.84,1008.36,1008.63,1009.36,1010.52,1009.81,1008.33,1011.75,1011.75,1011.75
2019-10,1009.73,1009.64,1009.30,1009.99,1010.62,1011.12,1011.16,1011.23,1011.03,1010.62,...,1008.59,1007.96,1009.48,1011.38,1011.52,1010.91,1010.81,1011.95,1012.02,1010.36
2019-11,1010.27,1010.69,1011.01,1012.42,1010.78,1009.42,1010.89,1014.10,1014.48,1012.70,...,1014.05,1013.12,1012.68,1014.43,1013.98,1013.13,1014.15,1014.29,1013.6,1010.36
2019-12,1012.81,1015.07,1017.05,1018.56,1019.41,1020.43,1020.26,1020.00,1017.99,1015.58,...,1011.74,1011.49,1011.94,1011.10,1011.34,1013.22,1014.32,1013.81,1014.76,1016.49
2020-01,1017.80,1018.04,1016.21,1014.33,1013.76,1013.74,1012.64,1012.90,1011.89,1010.65,...,1013.68,1011.31,1010.53,1008.93,1008.84,1009.65,1011.14,1013.8,1015.25,1015.43
2020-02,1014.57,1014.85,1013.17,1011.85,1012.19,1012.60,1013.20,1015.16,1016.71,1016.32,...,1019.41,1017.40,1014.74,1012.35,1012.54,1012.56,1011.53,1010.22,1013.88,1013.88
2020-10,1005.67,1006.21,1007.56,1008.25,1008.60,1008.88,1008.64,1008.28,1009.32,1008.64,...,1010.60,1011.37,1011.84,1010.77,1010.94,1009.87,1007.73,1006.46,1011.34,1012.11
2020-11,1012.18,1012.74,1013.72,1013.71,1013.32,1013.43,1014.50,1015.08,1013.83,1013.57,...,1011.91,1013.11,1012.99,1012.89,1013.69,1014.92,1015.28,1015.33,1015.85,1013.20
2020-12,1016.17,1014.73,1015.23,1016.08,1016.58,1016.28,1015.71,1015.75,1014.11,1012.83,...,1015.10,1012.58,1011.89,1012.57,1012.30,1010.83,1009.91,1009.95,1013.86,1018.27
2021-01,1018.63,1017.35,1015.20,1015.49,1014.24,1012.99,1012.07,1013.96,1016.06,1016.00,...,1011.27,1011.15,1011.56,1011.04,1011.50,1011.67,1013.78,1015.66,1015.24,1014.93
2021-02,1014.44,1014.14,1014.30,1015.04,1014.19,1013.19,1012.24,1011.09,1012.31,1013.31,...,1011.11,1010.08,1008.40,1006.24,1004.28,1005.45,1007.80,1012.16,1012.16,1012.16
2021-10,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,1004.61,1003.83,1004.25,1003.03,...,1013.04,1015.21,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96
2021-11,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,1007.80,1011.00,1013.72,1014.48,...,1011.00,1013.18,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,1012.17
2021-12,1015.80,1017.00,1018.68,1018.13,1017.43,1016.91,1016.72,1016.97,1016.56,1015.48,...,1013.32,1012.63,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39
2022-01,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,1014.99,1014.69,1012.58,1012.23,...,1010.49,1010.66,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91
2022-02,1010.90,1012.02,1012.12,1013.77,1015.52,1014.63,1011.54,1010.64,1010.96,1010.32,...,1016.38,1017.55,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,1012.46

- 5 กำหนดชื่อคอลัมน์ โดยให้ลำดับของตัวเลขที่เริ่มต้นที่ 1 และสิ้นสุดที่จำนวนคอลัมน์ของ DataFrame

In [13]:
df.columns = range(1, df.shape[1] + 1)

- 6 ทำการ stack คอลัมน์ ของ DataFrame และเปลี่ยนชื่อคอลัมน์ของ DataFrame แถวที่ถูก stack จะถูกเปลี่ยนชื่อเป็น 'day' และคอลัมน์ที่มีค่าในแนวนอนจะถูกเปลี่ยนชื่อเป็น 'value'

In [14]:
df_long = df.stack().reset_index().rename(columns={'level_1': 'day', 0: 'value'})

In [15]:
df_long

     Unnamed: 2  day    value
0       2011-10    1  1005.47
1       2011-10    2  1006.65
2       2011-10    3  1007.49
3       2011-10    4  1008.28
4       2011-10    5  1009.88
...         ...  ...      ...
1700    2022-02   27  1014.37
1701    2022-02   28  1013.04
1702    2022-02   29  1013.37
1703    2022-02   30  1013.98
1704    2022-02   31  1012.46

[1705 rows x 3 columns]

- 7 เปลี่ยนชื่อคอลัมน์ที่อยู่ที่ตำแหน่งที่ 0 (คอลัมน์แรก) เป็น 'year/month'

In [16]:
df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)

In [17]:
df_long

     year/month  day    value
0       2011-10    1  1005.47
1       2011-10    2  1006.65
2       2011-10    3  1007.49
3       2011-10    4  1008.28
4       2011-10    5  1009.88
...         ...  ...      ...
1700    2022-02   27  1014.37
1701    2022-02   28  1013.04
1702    2022-02   29  1013.37
1703    2022-02   30  1013.98
1704    2022-02   31  1012.46

[1705 rows x 3 columns]

##############################################################
##############################################################

In [18]:
file_path = "/content/drive/Shareddrives/Utu/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx"

In [19]:
df = pd.read_excel(file_path)

- 1 เป็นการเลือกตั้งแต่ row ที่5 ลงมา และเลือกตั้งแต่ column ที่ 3 จนถึงก่อนสุดท้าย 1 column

In [20]:
df = df.iloc[4:, 2:34]

In [21]:
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
4,2011-10-01 00:00:00,21.6,111.4,0.4,0,0,3.4,1.8,0.6,0.4,...,0,0,0,0,0,0,0.2,0,0,0
5,2011-11-01 00:00:00,0,0,0,0,0,0,0,0,6.8,...,0,0,0,0,0,0,0.6,0,0,-
6,2011-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2012-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,T,0
8,2012-02-01 00:00:00,0,0.2,1.2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,-,-
9,2012-10-01 00:00:00,0,0,0.6,2,4.8,0,4.6,0.6,0.4,...,0,0,0,0,0,0,0,0,2,0
10,2012-11-01 00:00:00,0,0,0,1,0,0,0,0,0,...,0,0.2,2.3,4.1,0.2,4.8,1.9,0,0,-
11,2012-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2013-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2.8,1,0,0,7.2
13,2013-02-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2013-10-01 00:00:00,8.6,19.6,0,0,0,0,0,0,0,...,0,0,5.2,1.6,0,0,0,0,0,0
15,2013-11-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
16,2013-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2014-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2014-02-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0.2,0,0,T,0,NaN,NaN,-
19,2014-10-01 00:00:00,12.6,4.6,-,-,-,0.2,-,-,0,...,0.6,112.4,34.8,-,-,0,0.2,22.4,3.6,0
20,2014-11-01 00:00:00,-,-,-,-,9.4,0.4,23.8,0,1.6,...,-,-,0,-,-,0,0,1,-,-
21,2014-12-01 00:00:00,T,0,0,-,-,0,-,-,0,...,0,-,-,0,-,-,-,0,0,0
22,2015-01-01 00:00:00,-,-,0,-,-,0,0,0,-,...,0,0,-,-,0,0,-,-,0,0
23,2015-02-01 00:00:00,0,0,-,-,0,-,-,-,-,...,2,-,0,0,-,-,0,-,-,-
24,2015-10-01 00:00:00,1.5,2,21.6,-,-,1.8,17.8,2.6,-,...,6.2,-,-,-,-,-,-,0,0,-
25,2015-11-01 00:00:00,0.4,-,0,-,-,-,8,-,-,...,0,-,-,-,-,0,-,-,-,-
26,2015-12-01 00:00:00,-,-,0,5.4,10.4,-,0,-,-,...,0,0,-,1.2,-,1.2,0,-,0,-
27,2016-01-01 00:00:00,-,-,0,-,-,-,-,0,-,...,-,-,T,7.5,7,2.6,0.8,-,-,-
28,2016-02-01 00:00:00,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
29,2016-10-01 00:00:00,1.6,1.4,0,-,34.9,12.9,-,0.1,-,...,-,-,7.3,0.6,44.9,-,-,-,-,-
30,2016-11-01 00:00:00,-,-,-,-,-,1.2,59.9,29.3,27.5,...,-,-,11.8,-,-,-,-,-,-,-
31,2016-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,-,0.6
32,2017-01-01 00:00:00,-,0,-,-,-,-,-,-,2.5,...,-,-,-,-,-,-,-,-,-,-
33,2017-02-01 00:00:00,-,-,-,-,-,-,0,-,-,...,-,-,0.1,-,-,-,-,-,-,-
34,2017-10-01 00:00:00,2.9,3.3,11.7,15,16.2,3.2,0.8,3.8,-,...,10.5,0,-,0,-,-,0,-,0,-
35,2017-11-01 00:00:00,0,-,0,0,T,1.3,0,0,0,...,0,0,-,0,0,0,0,0,0,-
36,2017-12-01 00:00:00,-,0,0,0,-,0,-,0,0,...,-,-,0,0,8.8,15.9,0,0,-,-
37,2018-01-01 00:00:00,-,0,-,-,0,-,15.6,0,0.6,...,-,0,0,-,-,11.5,-,-,-,-
38,2018-02-01 00:00:00,-,-,-,-,-,0,-,-,-,...,13,0.2,-,0,0.3,0,0,-,-,-
39,2018-10-01 00:00:00,-,-,-,0,-,-,-,-,0,...,3.6,18.7,-,0,-,0,0,0,-,0
40,2018-11-01 00:00:00,0,0,-,-,0,0,-,1.9,0.5,...,-,-,-,-,-,-,0.1,-,0,-
41,2018-12-01 00:00:00,-,-,0,-,0,-,-,3.5,0.4,...,-,-,0,-,-,0,0.1,-,-,-
42,2019-01-01 00:00:00,0,0,0,0,0,0,0,T,0,...,0,0,0,0,0,0,0,0,0,0
43,2019-02-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,-
44,2019-10-01 00:00:00,0,0,0,1.2,8.6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,2019-11-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
46,2019-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,2020-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,2020-02-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,-
49,2020-10-01 00:00:00,0,44.4,0.1,0,0.8,0,1.8,1,0,...,0,0,0,0,5,0,6,41,16.2,0.4
50,2020-11-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
51,2020-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
52,2021-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
53,2021-02-01 00:00:00,0,0,0,0,0,0,0,17.4,10.2,...,0,0,0,0,0,0,0,-,-,-
54,2021-10-01 00:00:00,2.8,0,5.6,0,1.8,1.2,0,0,0,...,0,0,0,0,0,0,7.4,0.8,0,-
55,2021-11-01 00:00:00,0,0,0,0,0,0,4,0.2,0,...,0,0,0,0,0,0,0,0,-,-
56,2021-12-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57,2022-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,9.4,0,0,0,0,0,0,0,0,0
58,2022-02-01 00:00:00,0.2,0,0,0,0.8,0,0,0,0,...,0,0,0,0,0,0,0,-,-,-

- 2 ทำการแปลงคอลัมน์ที่มีข้อมูลวันที่-เวลา ที่มีให้อยู่ในรูปแบบของ Pandas DateTime

In [22]:
df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0])

- 3 แปลงข้อมูล Pandas DateTime ให้อยู่ในรูป ปี/เดือน

In [23]:
df.iloc[:, 0] = df.iloc[:, 0].dt.to_period('M')

- 4 setให้คอลัมน์ที่ 0 ใน DataFrame กลายเป็น index ของ DataFrame

In [24]:
df.set_index(df.columns[0], inplace=True)

In [25]:
df

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
Unnamed: 2,,,,,,,,,,,,,,,,,,,,,
2011-10,21.6,111.4,0.4,0,0,3.4,1.8,0.6,0.4,0,...,0,0,0,0,0,0,0.2,0,0,0
2011-11,0,0,0,0,0,0,0,0,6.8,0,...,0,0,0,0,0,0,0.6,0,0,-
2011-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,T,0
2012-02,0,0.2,1.2,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,-,-
2012-10,0,0,0.6,2,4.8,0,4.6,0.6,0.4,0,...,0,0,0,0,0,0,0,0,2,0
2012-11,0,0,0,1,0,0,0,0,0,0.3,...,0,0.2,2.3,4.1,0.2,4.8,1.9,0,0,-
2012-12,0,0,0,0,0,0,0,0,0,3.4,...,0,0,0,0,0,0,0,0,0,0
2013-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2.8,1,0,0,7.2
2013-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-10,8.6,19.6,0,0,0,0,0,0,0,0,...,0,0,5.2,1.6,0,0,0,0,0,0
2013-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2013-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0.2,0,0,T,0,NaN,NaN,-
2014-10,12.6,4.6,-,-,-,0.2,-,-,0,-,...,0.6,112.4,34.8,-,-,0,0.2,22.4,3.6,0
2014-11,-,-,-,-,9.4,0.4,23.8,0,1.6,-,...,-,-,0,-,-,0,0,1,-,-
2014-12,T,0,0,-,-,0,-,-,0,0,...,0,-,-,0,-,-,-,0,0,0
2015-01,-,-,0,-,-,0,0,0,-,10.2,...,0,0,-,-,0,0,-,-,0,0
2015-02,0,0,-,-,0,-,-,-,-,0,...,2,-,0,0,-,-,0,-,-,-
2015-10,1.5,2,21.6,-,-,1.8,17.8,2.6,-,2.6,...,6.2,-,-,-,-,-,-,0,0,-
2015-11,0.4,-,0,-,-,-,8,-,-,-,...,0,-,-,-,-,0,-,-,-,-
2015-12,-,-,0,5.4,10.4,-,0,-,-,0,...,0,0,-,1.2,-,1.2,0,-,0,-
2016-01,-,-,0,-,-,-,-,0,-,0,...,-,-,T,7.5,7,2.6,0.8,-,-,-
2016-02,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2016-10,1.6,1.4,0,-,34.9,12.9,-,0.1,-,-,...,-,-,7.3,0.6,44.9,-,-,-,-,-
2016-11,-,-,-,-,-,1.2,59.9,29.3,27.5,0.3,...,-,-,11.8,-,-,-,-,-,-,-
2016-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,-,0.6
2017-01,-,0,-,-,-,-,-,-,2.5,3,...,-,-,-,-,-,-,-,-,-,-
2017-02,-,-,-,-,-,-,0,-,-,-,...,-,-,0.1,-,-,-,-,-,-,-
2017-10,2.9,3.3,11.7,15,16.2,3.2,0.8,3.8,-,4.4,...,10.5,0,-,0,-,-,0,-,0,-
2017-11,0,-,0,0,T,1.3,0,0,0,0,...,0,0,-,0,0,0,0,0,0,-
2017-12,-,0,0,0,-,0,-,0,0,0,...,-,-,0,0,8.8,15.9,0,0,-,-
2018-01,-,0,-,-,0,-,15.6,0,0.6,-,...,-,0,0,-,-,11.5,-,-,-,-
2018-02,-,-,-,-,-,0,-,-,-,-,...,13,0.2,-,0,0.3,0,0,-,-,-
2018-10,-,-,-,0,-,-,-,-,0,0,...,3.6,18.7,-,0,-,0,0,0,-,0
2018-11,0,0,-,-,0,0,-,1.9,0.5,1.1,...,-,-,-,-,-,-,0.1,-,0,-
2018-12,-,-,0,-,0,-,-,3.5,0.4,-,...,-,-,0,-,-,0,0.1,-,-,-
2019-01,0,0,0,0,0,0,0,T,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,-
2019-10,0,0,0,1.2,8.6,0,0,0,0,0.5,...,0,0,0,0,0,0,0,0,0,0
2019-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2019-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,-
2020-10,0,44.4,0.1,0,0.8,0,1.8,1,0,0,...,0,0,0,0,5,0,6,41,16.2,0.4
2020-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2020-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2021-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2021-02,0,0,0,0,0,0,0,17.4,10.2,0,...,0,0,0,0,0,0,0,-,-,-
2021-10,2.8,0,5.6,0,1.8,1.2,0,0,0,0,...,0,0,0,0,0,0,7.4,0.8,0,-
2021-11,0,0,0,0,0,0,4,0.2,0,0,...,0,0,0,0,0,0,0,0,-,-
2021-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2022-01,0,0,0,0,0,0,0,0,0,0,...,9.4,0,0,0,0,0,0,0,0,0
2022-02,0.2,0,0,0,0.8,0,0,0,0,0,...,0,0,0,0,0,0,0,-,-,-

In [26]:
import pandas as pd
import numpy as np

def replace_dash_and_nan_with_mean(row):
    # Replace "T" with 0.001, "nan" with np.nan, and dashes with np.nan
    cleaned_row = row.replace(['T', 'nan', '-'], [0.001, np.nan, np.nan])

    # Convert to numeric values
    numeric_values = pd.to_numeric(cleaned_row, errors='coerce')

    # Calculate the mean of numeric values, excluding NaNs
    mean_value = np.nanmean(numeric_values)

    # Replace dashes and NaN with the calculated mean
    row = row.replace(['T', 'nan', '-'], [f'{mean_value:.3f}', f'{mean_value:.3f}', f'{mean_value:.3f}'])
    return row

# Assuming df is your DataFrame
df = df.apply(replace_dash_and_nan_with_mean, axis=1)

<ipython-input-26-7532e2485d7e>:12: RuntimeWarning: Mean of empty slice
  mean_value = np.nanmean(numeric_values)

In [27]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
def replace_dash_and_nan_with_mean(row):
    numeric_values = pd.to_numeric(row.replace(['-', np.nan], [np.nan, np.nan]))
    mean_value = numeric_values.mean()
    row = row.replace(['-', np.nan], [f'{mean_value:.2f}', f'{mean_value:.2f}'])
    return row

df = df.apply(replace_dash_and_nan_with_mean, axis=1)

ValueError: Unable to parse string "nan" at position 0

In [ ]:
df

- 5 กำหนดชื่อคอลัมน์ โดยให้ลำดับของตัวเลขที่เริ่มต้นที่ 1 และสิ้นสุดที่จำนวนคอลัมน์ของ DataFrame

In [ ]:
df.columns = range(1, df.shape[1] + 1)

- 6 ทำการ stack คอลัมน์ ของ DataFrame และเปลี่ยนชื่อคอลัมน์ของ DataFrame แถวที่ถูก stack จะถูกเปลี่ยนชื่อเป็น 'day' และคอลัมน์ที่มีค่าในแนวนอนจะถูกเปลี่ยนชื่อเป็น 'value'

In [ ]:
df_long = df.stack().reset_index().rename(columns={'level_1': 'day', 0: 'value'})

In [ ]:
df_long

- 7 เปลี่ยนชื่อคอลัมน์ที่อยู่ที่ตำแหน่งที่ 0 (คอลัมน์แรก) เป็น 'year/month'

In [ ]:
df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)

In [ ]:
df_long

In [ ]:
non_numeric_rows = df_long[pd.to_numeric(df_long['value'], errors='coerce').isna()]
non_numeric_rows

#################################################

### นำมาทำเป็น Fuction เพื่อจัดการข้อมูลทุกไฟล์(ทุกจังหวัด) ใน Folder ความกด(เปอร์เซ็นต์)
- โดย X1 คือ ความกด(เปอร์เซ็นต์)

---

In [29]:
import pandas as pd
import os
import numpy as np

X1_path = "/content/drive/Shareddrives/Utu/ความกด(เปอร์เซ็นต์)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกลนคร.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:-1].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X1'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X1_result = process_excel_files(X1_path)
# Display the dataframe
X1_result

     year/month  date       X1   province
0       2011-10     1  1005.47  จ.ขอนแก่น
1       2011-10     2  1006.65  จ.ขอนแก่น
2       2011-10     3  1007.49  จ.ขอนแก่น
3       2011-10     4  1008.28  จ.ขอนแก่น
4       2011-10     5  1009.88  จ.ขอนแก่น
...         ...   ...      ...        ...
8520    2022-02    27  1015.31  จ.หนองคาย
8521    2022-02    28  1013.06  จ.หนองคาย
8522    2022-02    29    29.00  จ.หนองคาย
8523    2022-02    30    30.00  จ.หนองคาย
8524    2022-02    31    31.00  จ.หนองคาย

[8525 rows x 4 columns]

- check ค่า null

In [31]:
# กรองแถวที่มีค่า null
null_values = X1_result[X1_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

Empty DataFrame
Columns: [year/month, date, X1, province]
Index: []

# X2 ความชื้นสัมพัทธ์(เปอร์เซ็นต์)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder ความชื้นสัมพัทธ์(เปอร์เซ็นต์)
- โดย X2 คือ ความชื้นสัมพัทธ์(เปอร์เซ็นต์)

In [32]:
import pandas as pd
import os
import numpy as np

X2_path = "/content/drive/Shareddrives/Utu/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกลนคร.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X2'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X2_result = process_excel_files(X2_path)
# Display the dataframe
X2_result

     year/month  date     X2   province
0       2011-10     1     83  จ.ขอนแก่น
1       2011-10     2   92.0  จ.ขอนแก่น
2       2011-10     3   86.0  จ.ขอนแก่น
3       2011-10     4   80.0  จ.ขอนแก่น
4       2011-10     5   86.0  จ.ขอนแก่น
...         ...   ...    ...        ...
8520    2022-02    27   62.0  จ.หนองคาย
8521    2022-02    28   65.0  จ.หนองคาย
8522    2022-02    29  29.00  จ.หนองคาย
8523    2022-02    30  30.00  จ.หนองคาย
8524    2022-02    31  31.00  จ.หนองคาย

[8525 rows x 4 columns]

- check ค่า null

In [ ]:
# กรองแถวที่มีค่า null
null_values = X2_result[X2_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

# X3 ความเร็วลม(นอต)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder ความเร็วลม(นอต)
- โดย X3 คือ ความเร็วลม(นอต)

In [33]:
import pandas as pd
import os
import numpy as np

X3_path = "/content/drive/Shareddrives/Utu/ความเร็วลม(นอต)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกลนคร.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X3'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X3_result = process_excel_files(X3_path)
# Display the dataframe
X3_result

     year/month  date     X3   province
0       2011-10     1      3  จ.ขอนแก่น
1       2011-10     2    2.0  จ.ขอนแก่น
2       2011-10     3      3  จ.ขอนแก่น
3       2011-10     4    2.0  จ.ขอนแก่น
4       2011-10     5    2.0  จ.ขอนแก่น
...         ...   ...    ...        ...
8520    2022-02    27    2.0  จ.หนองคาย
8521    2022-02    28    2.0  จ.หนองคาย
8522    2022-02    29  29.00  จ.หนองคาย
8523    2022-02    30  30.00  จ.หนองคาย
8524    2022-02    31  31.00  จ.หนองคาย

[8525 rows x 4 columns]

- check ค่า null

In [34]:
# กรองแถวที่มีค่า null
null_values = X3_result[X3_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

Empty DataFrame
Columns: [year/month, date, X3, province]
Index: []

# X4 จำนวนเมฆ(10ส่วน)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder จำนวนเมฆ(10ส่วน)
- โดย X4 คือ จำนวนเมฆ(10ส่วน)

In [35]:
import pandas as pd
import os
import numpy as np

X4_path = "/content/drive/Shareddrives/Utu/จำนวนเมฆ(10ส่วน)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกลนคร.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace(['-', np.nan], [np.nan, np.nan]), errors='coerce')
        mean_value = numeric_values.mean()
        row = row.replace(['-', np.nan], [f'{mean_value:.2f}', f'{mean_value:.2f}'])
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5

            # Replace dash values with the mean in each row
            df = df.apply(replace_dash_with_mean, axis=1)  # Apply after setting the index

            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X4'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X4_result = process_excel_files(X4_path)
# Display the dataframe
X4_result

     year/month  date    X4   province
0       2011-10     1     9  จ.ขอนแก่น
1       2011-10     2  10.0  จ.ขอนแก่น
2       2011-10     3    10  จ.ขอนแก่น
3       2011-10     4   8.0  จ.ขอนแก่น
4       2011-10     5  10.0  จ.ขอนแก่น
...         ...   ...   ...        ...
8520    2022-02    27     3  จ.หนองคาย
8521    2022-02    28     2  จ.หนองคาย
8522    2022-02    29     1  จ.หนองคาย
8523    2022-02    30     1  จ.หนองคาย
8524    2022-02    31  4.57  จ.หนองคาย

[8525 rows x 4 columns]

- check ค่า null

In [36]:
duplicate_rows = X4_result[X4_result.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [year/month, date, X4, province]
Index: []

In [37]:
non_numeric_rows = X4_result[pd.to_numeric(X4_result['X4'], errors='coerce').isna()]
non_numeric_rows

Empty DataFrame
Columns: [year/month, date, X4, province]
Index: []

In [ ]:
# กรองแถวที่มีค่า null
null_values = X4_result[X4_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

# X5 อุณหภูมิจุดน้ำค้าง(เซลเซียส)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder อุณหภูมิจุดน้ำค้าง(เซลเซียส)
- โดย X5 คือ อุณหภูมิจุดน้ำค้าง(เซลเซียส)

In [127]:
import pandas as pd
import os
import numpy as np

X5_path = "/content/drive/Shareddrives/Utu/อุณหภูมิจุดน้ำค้าง(เซลเซียส)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกล.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X5'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X5_result = process_excel_files(X5_path)
# Display the dataframe
X5_result

     year/month  date     X5   province
0       2011-10     1   24.2  จ.ขอนแก่น
1       2011-10     2   24.0  จ.ขอนแก่น
2       2011-10     3   22.9  จ.ขอนแก่น
3       2011-10     4   21.9  จ.ขอนแก่น
4       2011-10     5   21.7  จ.ขอนแก่น
...         ...   ...    ...        ...
8364    2022-02    27   15.8  จ.หนองคาย
8365    2022-02    28   17.8  จ.หนองคาย
8366    2022-02    29   16.6  จ.หนองคาย
8367    2022-02    30   14.9  จ.หนองคาย
8368    2022-02    31  31.00  จ.หนองคาย

[8369 rows x 4 columns]

In [66]:
has_nan_values = X5_result['X5'].isna().any()
print(has_nan_values)

False

- check ค่า null

In [67]:
non_numeric_rows = X5_result[pd.to_numeric(X5_result['X5'], errors='coerce').isna()]
print(non_numeric_rows)

Empty DataFrame
Columns: [year/month, date, X5, province]
Index: []

In [68]:
# กรองแถวที่มีค่า null
null_values = X5_result[X5_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

Empty DataFrame
Columns: [year/month, date, X5, province]
Index: []

# X6 อุณหภูมิต่ำสุด(เซลเซียส)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder อุณหภูมิต่ำสุด(เซลเซียส)
- โดย X7 คือ อุณหภูมิต่ำสุด(เซลเซียส)

In [69]:
import pandas as pd
import os

X6_path = "/content/drive/Shareddrives/Utu/อุณหภูมิตุ้มแห้ง(เซลเซียส)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกล.xlsx",
    "จ.หนองคาย.xlsx",
]

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()
            df.set_index(df.columns[0], inplace=True)
            df.columns = range(1, df.shape[1] + 1)
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X6'})
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)

            # เพิ่มคอลัมน์ 'province' และใส่ชื่อจังหวัดลงไป
            province_name = os.path.splitext(filename)[0]  # ดึงชื่อไฟล์โดยไม่รวมนามสกุล
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X6_result = process_excel_files(X6_path)
# แสดง dataframe
X6_result

     year/month  date    X6   province
0       2011-10     1  27.6  จ.ขอนแก่น
1       2011-10     2  25.6  จ.ขอนแก่น
2       2011-10     3  25.6  จ.ขอนแก่น
3       2011-10     4  25.8  จ.ขอนแก่น
4       2011-10     5  24.3  จ.ขอนแก่น
...         ...   ...   ...        ...
8365    2022-02    27  23.8  จ.หนองคาย
8366    2022-02    28  25.4  จ.หนองคาย
8367    2022-02    29     -  จ.หนองคาย
8368    2022-02    30     -  จ.หนองคาย
8369    2022-02    31     -  จ.หนองคาย

[8370 rows x 4 columns]

In [70]:
import pandas as pd
import os
import numpy as np

X6_path = "/content/drive/Shareddrives/Utu/อุณหภูมิต่ำสุด(เซลเซียส)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกล.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X6'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X6_result = process_excel_files(X6_path)
# Display the dataframe
X6_result

     year/month  date     X7   province
0       2011-10     1   24.8  จ.ขอนแก่น
1       2011-10     2   23.0  จ.ขอนแก่น
2       2011-10     3   22.1  จ.ขอนแก่น
3       2011-10     4   22.8  จ.ขอนแก่น
4       2011-10     5   23.1  จ.ขอนแก่น
...         ...   ...    ...        ...
8520    2022-02    27   17.5  จ.หนองคาย
8521    2022-02    28     19  จ.หนองคาย
8522    2022-02    29  29.00  จ.หนองคาย
8523    2022-02    30  30.00  จ.หนองคาย
8524    2022-02    31  31.00  จ.หนองคาย

[8525 rows x 4 columns]

- check ค่า null

In [ ]:
non_numeric_rows = X6_result[pd.to_numeric(X6_result['X6'], errors='coerce').isna()]
non_numeric_rows

In [ ]:
# กรองแถวที่มีค่า null
null_values = X6_result[X6_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

# X7 อุณหภูมิตุ้มแห้ง(เซลเซียส)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder อุณหภูมิตุ้มแห้ง(เซลเซียส)
- โดย X7 คือ อุณหภูมิตุ้มแห้ง(เซลเซียส)

In [72]:
import pandas as pd
import os
import numpy as np

X7_path = "/content/drive/Shareddrives/Utu/อุณหภูมิตุ้มแห้ง(เซลเซียส)"

file_order = [
    "จ.ขอนแก่น.xlsx",
    "จ.นครพนม.xlsx",
    "จ.เลย.xlsx",
    "จ.สกล.xlsx",
    "จ.หนองคาย.xlsx",
]

def replace_dash_with_mean(row):
    if '-' in row.values:
        numeric_values = pd.to_numeric(row.replace('-', np.nan), errors='coerce')
        mean_value = numeric_values.mean()
        row[row == '-'] = f'{mean_value:.2f}'
    return row

def process_excel_files(Phuris):
    processed_dfs = []

    for filename in file_order:
        file_path = os.path.join(Phuris, filename)

        if os.path.exists(file_path) and filename.endswith(".xlsx"):
            df = pd.read_excel(file_path)
            df = df.iloc[4:, 2:34].copy()    #1
            df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0]).copy()   #2
            df[df.columns[0]] = df[df.columns[0]].dt.to_period('M').copy()   #3
            df.set_index(df.columns[0], inplace=True)  #4
            df.columns = range(1, df.shape[1] + 1)    #5
            df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X7'})    #6
            df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)    #7

            # Replace dash values with the mean in each row
            df_long = df_long.apply(replace_dash_with_mean, axis=1)

            # Add 'province' column and fill it with the province name
            province_name = os.path.splitext(filename)[0]
            df_long['province'] = province_name

            processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    return final_df

X7_result = process_excel_files(X7_path)
# Display the dataframe
X7_result

     year/month  date     X7   province
0       2011-10     1   27.6  จ.ขอนแก่น
1       2011-10     2   25.6  จ.ขอนแก่น
2       2011-10     3   25.6  จ.ขอนแก่น
3       2011-10     4   25.8  จ.ขอนแก่น
4       2011-10     5   24.3  จ.ขอนแก่น
...         ...   ...    ...        ...
8365    2022-02    27   23.8  จ.หนองคาย
8366    2022-02    28   25.4  จ.หนองคาย
8367    2022-02    29  29.00  จ.หนองคาย
8368    2022-02    30  30.00  จ.หนองคาย
8369    2022-02    31  31.00  จ.หนองคาย

[8370 rows x 4 columns]

- check ค่า null

In [73]:
non_numeric_rows = X7_result[pd.to_numeric(X7_result['X7'], errors='coerce').isna()]
non_numeric_rows

Empty DataFrame
Columns: [year/month, date, X7, province]
Index: []

In [74]:
# กรองแถวที่มีค่า null
null_values = X7_result[X7_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

Empty DataFrame
Columns: [year/month, date, X7, province]
Index: []

# X8 ปริมาณฝน(มิลลิเมตร)

- เนื่องจาก format ของข้อมูลเหมือนกัน จึงใช้ Fuctionเดิม เพื่อจัดการข้อมูลทุกไฟล์ใน Folder ปริมาณฝน(มิลลิเมตร)
- โดย X8 คือ ปริมาณฝน(มิลลิเมตร)

In [122]:
import pandas as pd
import numpy as np
import os

X8_path = "/content/drive/Shareddrives/Utu/ปริมาณฝน(มิลลิเมตร)"

def replace_dash_and_nan_with_mean(row):
    numeric_values = pd.to_numeric(row.replace(['-', 'T', np.nan], [np.nan, 0.001, np.nan]), errors='coerce')
    mean_value = numeric_values.mean()
    row = row.replace(['-', 'T', np.nan], [f'{mean_value:.3f}', f'{mean_value:.3f}', f'{mean_value:.3f}'])
    return row

def process_rainfall_data(X8_path):
    processed_dfs = []

    # List all Excel files in the specified folder
    file_order = [file for file in os.listdir(X8_path) if file.endswith(".xlsx")]

    for filename in file_order:
        file_path = os.path.join(X8_path, filename)

        # Read the Excel file
        df = pd.read_excel(file_path)

        # 1. Select rows from 5 onwards and columns from 3 to the second-to-last column
        df = df.iloc[4:, 2:34]

        # 2. Convert the first column to Pandas DateTime
        df[df.columns[0]] = pd.to_datetime(df.iloc[:, 0])

        # 3. Convert Pandas DateTime to year/month format
        df.iloc[:, 0] = df.iloc[:, 0].dt.to_period('M')

        # 4. Set the first column as the index
        df.set_index(df.columns[0], inplace=True)

        # 5. Replace dashes and NaN values with the mean in each row
        df = df.apply(replace_dash_and_nan_with_mean, axis=1)

        # 6. Rename columns with numeric sequences
        df.columns = range(1, df.shape[1] + 1)

        # 7. Stack the DataFrame and rename columns
        df_long = df.stack().reset_index().rename(columns={'level_1': 'date', 0: 'X8'})

        # 8. Rename the first column to 'year/month'
        df_long.rename(columns={df_long.columns[0]: 'year/month'}, inplace=True)

        # Add 'province' column and fill it with the province name
        province_name = os.path.splitext(filename)[0]
        df_long['province'] = province_name

        processed_dfs.append(df_long)

    final_df = pd.concat(processed_dfs, ignore_index=True)

    # Replace dash in 'X8' column with the mean of each row
    final_df['X8'] = final_df.apply(replace_dash_and_nan_with_mean, axis=1)['X8']

    return final_df

X8_result = process_rainfall_data(X8_path)
X8_result

     year/month  date     X8   province
0       2011-10     1   48.6  จ.หนองคาย
1       2011-10     2     59  จ.หนองคาย
2       2011-10     3      0  จ.หนองคาย
3       2011-10     4      1  จ.หนองคาย
4       2011-10     5   19.1  จ.หนองคาย
...         ...   ...    ...        ...
8520    2022-02    27      0   จ.นครพนม
8521    2022-02    28      0   จ.นครพนม
8522    2022-02    29  0.775   จ.นครพนม
8523    2022-02    30  0.775   จ.นครพนม
8524    2022-02    31  0.775   จ.นครพนม

[8525 rows x 4 columns]

- check ค่า null

 เกิดค่า nan เพราะมี row ที่เป็น "-" ทั้งแถว ดั้งนั้นจัดการโดยการแทนค่า nan ใน X8 ด้วย 0

In [123]:
non_numeric_rows = X8_result[pd.to_numeric(X8_result['X8'], errors='coerce').isna()]
non_numeric_rows

     year/month  date   X8   province
744     2016-02     1  nan  จ.หนองคาย
745     2016-02     2  nan  จ.หนองคาย
746     2016-02     3  nan  จ.หนองคาย
747     2016-02     4  nan  จ.หนองคาย
748     2016-02     5  nan  จ.หนองคาย
...         ...   ...  ...        ...
5885    2016-02    27  nan  จ.ขอนแก่น
5886    2016-02    28  nan  จ.ขอนแก่น
5887    2016-02    29  nan  จ.ขอนแก่น
5888    2016-02    30  nan  จ.ขอนแก่น
5889    2016-02    31  nan  จ.ขอนแก่น

[155 rows x 4 columns]

In [124]:
# แปลงค่าในคอลัมน์ 'X8' เป็นตัวเลข และให้ค่าที่ไม่สามารถแปลงได้เป็น NaN
X8_result['X8'] = pd.to_numeric(X8_result['X8'], errors='coerce')

# แทนที่ค่า NaN ด้วย "0"
X8_result['X8'] = X8_result['X8'].fillna("0")

# ตรวจสอบอีกครั้งหลังจากการแทนที่
non_numeric_rows = X8_result[pd.to_numeric(X8_result['X8'], errors='coerce').isna()]
non_numeric_rows

Empty DataFrame
Columns: [year/month, date, X8, province]
Index: []

In [125]:
# กรองแถวที่มีค่า null
null_values = X8_result[X8_result.isnull().any(axis=1)]

# แสดงผลลัพธ์
print(null_values)

Empty DataFrame
Columns: [year/month, date, X8, province]
Index: []

# รวมตาราง

![Untitled.png]()

ให้เตรียมข้อมูลลักษณะอากาศของแต่ละวัน (แก้ missing, noise, ฯลฯ ) และสร้างตารางเพื่อทำการทำนาย ปริมาณน้ำฝนสำหรับจังหวัดขอนแก่นของวันถัดไป (ปริมาณน้ำฝนขอนแก่นของวันที่ D+1) จากข้อมูลลักษณะอากาศในจังหวัดต่างๆ (ขอนแก่น,หนองคาย,นครพนม,เลย,สกลนคร) ของวันปัจจุบัน (อุณหภูมิตุ้มแห้งขอนแก่นของวันที่ D,...,ความเร็วลมสกลนครของวันที่ D)

ตัวอย่างตารางที่ต้องการ (Xi มีทั้งหมด 5จังหวัด * 8ลักษณะอากาศ = 40 columns และ Y อีก 1 columns)

In [ ]:
X1_result.head(3) , X2_result.head(3) , X3_result.head(3) , X4_result.head(3) , X5_result.head(3) , X6_result.head(3) , X7_result.head(3)  , X8_result.head(3)

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrames X1 to X8 for each province (5 provinces)
# Replace this with your actual data
provinces = ['จ.ขอนแก่น', 'จ.หนองคาย', 'จ.นครพนม', 'จ.เลย', 'จ.สกลนคร']

# Generate sample data for each province
dfs = []
for province in provinces:
    df_province = pd.DataFrame({
        'year/month': ['2011-10', '2011-10', '2011-10'],
        'date': [1, 2, 3],
        'province': [province] * 3,  # Repeat the province name
        'X1': np.random.rand(3) * 1000,  # Replace with your actual data
        'X2': np.random.rand(3) * 100,
        'X3': np.random.rand(3) * 10,
        'X4': np.random.rand(3) * 20,
        'X5': np.random.rand(3) * 30,
        'X6': np.random.rand(3) * 40,
        'X7': np.random.rand(3) * 50,
        'X8': np.random.rand(3) * 60,
    })
    dfs.append(df_province)

# Merge DataFrames on 'year/month', 'date', and 'province'
merged_df = pd.concat(dfs, ignore_index=True)

# Generate example 'Y' values (rainfall for the next day D+1)
# Replace this with your actual 'Y' values
np.random.seed(42)  # Setting seed for reproducibility
merged_df['Y'] = np.random.randint(0, 30, size=len(merged_df))

# Reshape the DataFrame to have 40 columns for Xi and 1 column for Y
reshaped_df = merged_df.set_index(['year/month', 'date', 'province']).unstack().reset_index()

# Flatten the multi-level column index
reshaped_df.columns = [f'{col[0]}_{col[1]}' if col[1] else col[0] for col in reshaped_df.columns]

# Display the reshaped DataFrame
reshaped_df

In [ ]:
# List of DataFrames
dfs_list = [X1_result, X2_result, X3_result, X4_result, X5_result, X6_result, X7_result, X8_result]

# Merge DataFrames on 'year/month', 'date', and 'province'
merged_df = pd.concat(dfs_list, axis=1)

# Display the merged DataFrame
merged_df

In [ ]:
import pandas as pd


key_columns = ['year/month', 'date', 'province']


X1_selected = X1_result[key_columns + ['X1']]
X2_selected = X2_result[key_columns + ['X2']]
X3_selected = X3_result[key_columns + ['X3']]
X4_selected = X4_result[key_columns + ['X4']]
X5_selected = X5_result[key_columns + ['X5']]
X6_selected = X6_result[key_columns + ['X6']]
X7_selected = X7_result[key_columns + ['X7']]
Y_selected = X8_result[key_columns + ['X8']]


merged_df = pd.merge(X1_selected, X2_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, X3_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, X4_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, X5_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, X6_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, X7_selected, on=key_columns, how='outer')
merged_df = pd.merge(merged_df, Y_selected, on=key_columns, how='outer')

# เปลี่ยนชื่อ column
column_mapping = {'X1': 'X1', 'X2': 'X2', 'X3': 'X3', 'X4': 'X4', 'X5': 'X5', 'X6': 'X6', 'X7': 'X7', 'X8': 'X8'}
merged_df.rename(columns=column_mapping, inplace=True)

merged_df

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrames X1 to X8 for each province (5 provinces)
# Replace this with your actual data
provinces = ['จ.ขอนแก่น', 'จ.หนองคาย', 'จ.นครพนม', 'จ.เลย', 'จ.สกลนคร']

# Generate sample data for each province
dfs = []
for province in provinces:
    df_province = pd.DataFrame({
        'year/month': ['2011-10', '2011-10', '2011-10'],
        'date': [1, 2, 3],
        'province': [province] * 3,  # Repeat the province name
        'X1': np.random.rand(3) * 1000,  # Replace with your actual data
        'X2': np.random.rand(3) * 100,
        'X3': np.random.rand(3) * 10,
        'X4': np.random.rand(3) * 20,
        'X5': np.random.rand(3) * 30,
        'X6': np.random.rand(3) * 40,
        'X7': np.random.rand(3) * 50,
        'X8': np.random.rand(3) * 60,
    })
    dfs.append(df_province)

# Merge DataFrames on 'year/month', 'date', and 'province'
merged_df = pd.concat(dfs, ignore_index=True)

# Generate example 'Y' values (rainfall for the next day D+1)
# Replace this with your actual 'Y' values
np.random.seed(42)  # Setting seed for reproducibility
merged_df['Y'] = np.random.randint(0, 30, size=len(merged_df))

# Reshape the DataFrame to have 40 columns for Xi and 1 column for Y
reshaped_df = merged_df.set_index(['year/month', 'date', 'province']).unstack().reset_index()

# Flatten the multi-level column index
reshaped_df.columns = [f'{col[0]}_{col[1]}' if col[1] else col[0] for col in reshaped_df.columns]

# Display the reshaped DataFrame
reshaped_df